html
  background: #f0f0f0 url(../../img/gray-jean.png)

body
  width: 920px
  margin: 0 auto
  box-shadow: 0 0 60px #ccc
  background-color: white

.l
  color: $cleader
.e
  color: $centrepreneur
.p
  color: $cpartner

.preheader, .overlay, .conference-points, .pullquote, .speakers, .labs, #signup, .sponsors
  padding: 0 2.5%

.preheader
  font-size: 0
  h2
    font-weight: bold
    font-family: asap
    +adjust-font-size-to($base-font-size + 2)
    +adjust-leading-to(.5)
  p
    +adjust-font-size-to($base-font-size)
  .top
    height: 36px
    line-height: 36px
    width: 100%
    margin-bottom: 18px
    padding: 18px 0
    img
      float: left
      height: 100%
      width: auto
      margin-right: 18px
    a
      float: right
      color: #727273
      font-size: 14px
      text-transform: uppercase
      text-decoration: none

  .buddies, .info
    display: inline-block
    width: 42.5%
    vertical-align: bottom
    img
      width: 100%
      height: auto
  .buddies
    margin: 36px 0 0 5%
    img
      vertical-align: bottom
  .info
    margin: 36px 5% 18px 0
    color: #727273

header
  position: relative
  width: 1000px
  margin-left: -40px
  background-color: $cpartner
  +transition(width .5s, margin-left .5s)

  &:before, &:after
    content: ''
    position: absolute
    top: -20px
    height: 0
    width: 0
    border-bottom: 20px solid $cpartner - #222
  &:before
    left: 0
    border-left: 40px solid transparent
  &:after
    right: 0
    border-right: 40px solid transparent
  nav
    height: 60px
    line-height: 60px
    padding-right: 40px
    text-align: right

    a
      padding: 5px 10px
      border-bottom: 3px solid $cpartner - #111
      color: white
      text-decoration: none
      &.selected, &:hover
        border-color: $cpartner + #ffe2c4

.hlock
  position: fixed
  top: 0
  margin-left: 0
  width: 920px

.mlock
  margin-top: 60px

.overlay
  height: 360px
  padding-top: 36px
  color: white
  text-align: center
  text-shadow: 0 0 6px black
  .backgroundsize &
    background-size: 150% auto
  background-position: bottom right
  background-color: $cleader
  @for $i from 1 through 1
    &:nth-child(#{$i})
      .backgroundsize &
        background-image: url('../../img/underlay-#{$i+1}a.png')
  p
    &:first-child
      +adjust-font-size-to($base-font-size * $gr)
      +adjust-leading-to(1.2)
    +trailer(1)
  strong
    font-size: 48px
    font-weight: 300
    text-transform: lowercase

.button, input[type="submit"]
  padding: 12px 0 4px
  border: 0
  border-bottom: 1px dashed #bbb
  border-bottom-color: rgba(255,255,255,.5)
  text-decoration: none
  text-shadow: none
  text-align: center
  font: 36px bold 'franchise', sans-serif
  color: white
  //background-color: $centrepreneur - #222
  //&:hover
  //  background-color: $centrepreneur - #282828

.conference-points
  margin: 48px auto
  font-size: 0
  img
    height: 96px
    width: auto
    margin-bottom: 9px
  ul
    text-align: center
  li
    display: inline-block
    width: 19%
    margin: 0 3%
    vertical-align: top
    +adjust-font-size-to($base-font-size)
  h3
    font-weight: bold
    +adjust-leading-to(1.5)

.pullquote
  quotes: "“" "”" "‘" "’"
  position: relative
  display: block
  padding-top: 24px
  padding-bottom: 14px
  box-shadow: inset 0 6px 20px -4px #ccc, inset 0 -6px 20px -4px #ccc
  background-color: #f8f8f8
  p
    margin: 24px 72px 0
    position: relative
    font-size: 48px
    text-align: center
    line-height: 1.2em
    color: #333
  footer
    text-align: right
    margin-right: 72px
    &:before
      content: '– '
.bigquotes
  +stretch(0)
  &:before, &:after
    z-index: 0
    position: absolute
    font-family: franchise, serif
    font-size: 240px
    color: #ccc
  &:before
    content: open-quote
    top: 100px
    left: 48px
  &:after
    content: close-quote
    bottom: 20px
    right: 48px

.labs

  .leader, .entrepreneur, .partner
    float: left
    width: 33.3333333333333333%
  .leader
  .entrepreneur
  .partner


#signup
  width: 100%
  min-width: 800px
  padding-top: 2rem
  padding-bottom: 2rem
  color: white
  background-color: $cpartner
  p:first-child
    +adjust-font-size-to($base-font-size * $gr)
    line-height: 2rem
    +trailer(.5)
  strong
    font-weight: bold
  ul
    list-style-type: disc
  li
    margin-left: 1em

  .info
    width: 60%
    float: left
  form
    width: 35%
    float: right
    label
      text-transform: uppercase
      +adjust-font-size-to(14px)
    input[type="text"]
      width: 100%
      height: 48px
      padding-left: 0.7em
      border: 1px solid #b8b8b8
      color: #333334
      +adjust-font-size-to(1rem)
    input[type="submit"]
      background-color: $centrepreneur - #080808
      &:hover
        background-color: $centrepreneur - #111
      +leader(.5)
      float: right

.sponsors
  margin: 36px auto
  text-align: center
  ul
    width: 80%
    margin: 36px auto 0
  li
    display: inline-block
    margin: 0 36px
    +retina-sprites($sponsors, true, 'sponsors')
  p
    font-size: 12px
  a
    color: $cleader

body > footer
  height: 36px
  line-height: 36px
  width: 100%
  min-width: 800px
  padding: 0 18px
  color: white
  background-color: #727273
  font-size: 12px
  p
    float: left
  small
    float: right
  a
    color: white

