html
  background: #181818 url(../../img/black_denim.png)

body
  width: 920px
  margin: 0 auto
  color: #343433
  font-weight: 100
  background-color: white
  box-shadow: 0 0 60px #000
  +open-sans-stack()

header, .overlay, .sponsors
  font-weight: 400

p
  line-height: 1.5em
  margin-bottom: 1.5em

h2
  line-height: 2em
  margin-bottom: .5em
  border-bottom: 1px dotted #ccc
  font-size: 24px
  letter-spacing: 2px
  +open-sans-stack()

.l
  color: $cleader
.e
  color: $centrepreneur
.p
  color: $cpartner

.preheader,
main > div
  padding: 0 $pagepadding

main > div:nth-child(1), .overlay + div
  padding-top: 1.5em

.preheader
  position: relative
  font-size: 0
  h2
    line-height: 14px
    margin-top: 12px
    border-bottom: 0
    font-size: 20px
    font-weight: bold
    letter-spacing: 0
    +asap-stack()
  p
    font-size: 18px
    font-weight: 400
  .top
    height: 36px
    line-height: 36px
    width: 100%
    margin-bottom: 18px
    padding: 18px 0
    img
      float: left
      height: 100%
      width: auto
      margin-right: 18px
    a
      float: right
      color: #727273
      font-size: 14px
      text-transform: uppercase
      text-decoration: none

  .buddies, .info
    display: inline-block
    width: 42.5%
    vertical-align: bottom
    img
      width: 100%
      height: auto
  .buddies
    margin: 36px 0 0 5%
    img
      vertical-align: bottom
  .info
    margin: 36px 5% 0 0
    color: #727273

.blockers
  z-index: 4
  position: absolute
  left: 0
  right: 0
  bottom: 0
  height: 20px
  &:before, &:after
    content: ''
    position: absolute
    bottom: 0
    height: 20px
    width: 40px
    background-color: white
  &:before
    left: 0
  &:after
    right: 0

header
  position: relative
  z-index: 3
  width: 1000px
  margin-left: -40px
  padding-right: 40px
  background-color: $cpartner
  background-color: rgba($cpartner, .95)
  box-shadow: 0 2px 2px rgba(0,0,0,.2)
  +transition(width .3s .3s, margin-left .3s .3s, padding-right .3s)

  &:before, &:after
    content: ''
    position: absolute
    top: -20px
    height: 0
    width: 0
    border-bottom: 20px solid $cpartner - #222
  &:before
    left: 0
    border-left: 40px solid transparent
  &:after
    right: 0
    border-right: 40px solid transparent
  nav
    height: 60px
    line-height: 60px
    text-align: right

    a
      padding: 5px 10px
      padding-bottom: 15px
      border-bottom: 3px solid transparent
      color: white
      text-decoration: none
      +transition(padding .5s, border .5s, color .5s)
      &.selected, &:hover
        padding-bottom: 5px
      &:hover
        border-color: $cpartner - #111
      &.selected
        border-color: $cpartner + #ffe2c4
        &:hover
          border-color: $cpartner + #ffe2c4

.hlock
  position: fixed
  top: 0
  margin-left: 0
  padding-right: 0
  width: 920px

.mlock
  margin-top: 60px

.overlay
  height: 360px
  color: white
  text-align: center
  text-shadow: 0 0 6px black
  .backgroundsize &
    background-size: 150% auto
  background-position: bottom right
  background-color: $cleader
  @for $i from 1 through 1
    &:nth-child(#{$i})
      .backgroundsize &
        background-image: url('../../img/underlay-#{$i+1}a.png')
  p
    &:first-child
      font-size: 30px
      line-height: 68px
      margin-bottom: 0
      strong
        font-size: 48px
        font-weight: 100
  strong
    padding: 0 .2em
    font-size: 24px
    color: #bbb
    text-transform: lowercase
    background-color: white
    text-shadow: none
    transition: background-color 0.667s linear
    +open-sans-stack()


.leader-para, .sponsor-page
  margin: 0 3em
  font-size: 24px
  font-weight: 100
  color: #555

.sponsor-page
  padding-bottom: 1.5em
  p
    margin-bottom: 1em
  a
    padding: 0.2em
    font-weight: 400
    color: white
    background-color: $cpartner
    text-decoration: none
  li
    margin: 0 0 .5em 2em
    list-style: circle

.about-ewb, .about-rethink
  width: 50%
  float: left
  padding-top: 1.5em

.conference-points
  margin: 48px auto
  font-size: 0
  img
    height: 36px
    width: auto
    margin-bottom: 9px
  ul
    text-align: center
  li
    display: inline-block
    width: 24%
    margin: 0 3%
    vertical-align: top
    +adjust-font-size-to($base-font-size)
  h3
    font-weight: bold
    +adjust-leading-to(1.5)

.pullquote
  quotes: "“" "”" "‘" "’"
  position: relative
  display: block
  padding-top: 24px
  padding-bottom: 14px
  box-shadow: inset 0 6px 20px -4px #ccc, inset 0 -6px 20px -4px #ccc
  background-color: #f8f8f8
  p
    margin: 24px 72px 0
    position: relative
    font-size: 48px
    text-align: center
    line-height: 1.2em
    color: #333
  footer
    text-align: right
    margin-right: 72px
    &:before
      content: '– '
.bigquotes
  +stretch(0)
  &:before, &:after
    z-index: 0
    position: absolute
    font-family: franchise, serif
    font-size: 240px
    color: #ccc
  &:before
    content: open-quote
    top: 100px
    left: 48px
  &:after
    content: close-quote
    bottom: 20px
    right: 48px

.signup
  padding: 0 168px

.button
  display: inline-block
  width: 204px
  margin: auto
  padding: 1em
  border: 0
  font-weight: bold
  text-decoration: none
  text-align: center
  color: white
  background-color: #009999
  &:before
    content: '['
  &:after
    content: ']'
  &:before, &:after
    opacity: 0
    +transition(opacity 0.5s, padding 1s)
  &:hover
    &:before, &:after
      opacity: 1
      padding: .5em


.sponsors
  margin: 36px auto 0
  padding: 36px 0 12px
  text-align: center
  background-color: #e0e0e0
  box-shadow: 0 85px 20px -80px #aaa inset
  ul
    width: 80%
    margin: 36px auto 0
  li
    +retina-sprites($sponsors, true, 'sponsors')
  .lead li, .gold li
    display: block
    margin: 0 auto
  .fulljust li
    display: inline-block
    margin: 0 36px
  p
    font-size: 12px
  a
    color: $cleader


.about-lep
  clear: both
  padding: 0
  position: relative
  p
    margin: 1em / $gr 0
  .about-lep-tabs
    margin-top: 2rem
    text-align: justify
    font-size: 0
    a
      +box-sizing(border-box)
      display: inline-block
      font-size: 2rem
      height: 198px
      width: 305px
      padding-top: 150px
      text-align: center
      text-decoration: none
      color: white
      text-shadow: 0 0 0.333em black
      &:not(.selected):not(:hover)
        opacity: 0.5
      &.selected,
      &:hover
        text-shadow: none
      transition: opacity 0.1s linear
    .l
      background: url('../../img/buddy-lead.png') 50% top no-repeat
    .e
      background: url('../../img/buddy-entrepreneur.png') 50% top no-repeat
    .p
      background: url('../../img/buddy-partner.png') 50% top no-repeat

  #learn-wrap,
  #innovate-wrap,
  #connect-wrap
    overflow: hidden
    position: absolute
    top: 198px
    width: 920px
    transition: width 0.2s linear
  #learn-wrap
    z-index: 3
  #innovate-wrap
    z-index: 2
  #connect-wrap
    z-index: 1
  #learn,
  #innovate,
  #connect
    width: 920px
    padding: $pagepadding
    color: #fff
    h2
      display: none
    h3
      font-size: 1.4rem
      margin: 1em / $gr 0
      line-height: 1em
      &:nth-child(2)
        font-style: italic
    h4
      font-weight: bold
    h5
      text-transform: uppercase
  #learn
    background: $cleader
  #innovate
    background: $centrepreneur
  #connect
    background: $cpartner


body > footer
  height: 36px
  line-height: 36px
  width: 100%
  min-width: 800px
  padding: 0 18px
  color: white
  background-color: #727273
  font-size: 12px
  p
    float: left
    line-height: inherit
  small
    float: right
  a
    color: white
    &:hover
      color: #66ccff

