@import main

body, html
  height: auto

.overlay
  text-align: center

.sponsor-page
  width: 100% - (100% / $gr / $gr)
  margin: 48px auto
  p, li
    font-size: 18px * 1.2
    line-height: 1.5em
    margin-bottom: 1em
  li
    list-style: disc
    margin-left: 1.5em
  a
    color: #0088dd
    text-decoration: none
    border-bottom: 1px dashed #22a0ff
  strong
    font-weight: bold

@media only screen and (max-width:480px)
  .sponsor-page
    width: 95%
    margin: 36px 2.5%