@charset "UTF-8";
/* compass & preferences */
/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/main.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

/* line 64, ../sass/_variables.sass */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
/* line 70, ../sass/_variables.sass */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 78, ../sass/_variables.sass */
.fulljust {
  text-align: justify;
}
/* line 80, ../sass/_variables.sass */
.fulljust:after {
  content: "";
  display: inline-block;
  width: 100%;
}

/* line 86, ../sass/_variables.sass */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 91, ../sass/_variables.sass */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 104, ../sass/_variables.sass */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 113, ../sass/_variables.sass */
.invisible {
  visibility: hidden;
}

/* line 117, ../sass/_variables.sass */
.clearfix {
  *zoom: 1;
}
/* line 120, ../sass/_variables.sass */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 124, ../sass/_variables.sass */
.clearfix:after {
  clear: both;
}

/* line 128, ../sass/_variables.sass */
.browsehappy {
  margin: 0.2em 0;
  background: #cccccc;
  color: black;
  padding: 0.2em 0;
}

/* line 61, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 112.5%;
}

/* line 64, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 18px;
  line-height: 1.5em;
}

@font-face {
  font-family: "asap";
  src: url("../../font/asap-bold-webfont.eot");
  src: url("../../font/asap-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../font/asap-bold-webfont.woff") format("woff"), url("../../font/asap-bold-webfont.ttf") format("truetype"), url("../../font/asap-bold-webfont.svg#asapbold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "asap";
  src: url("../../font/asap-bolditalic-webfont.eot");
  src: url("../../font/asap-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../font/asap-bolditalic-webfont.woff") format("woff"), url("../../font/asap-bolditalic-webfont.ttf") format("truetype"), url("../../font/asap-bolditalic-webfont.svg#asapbold_italic") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "asap";
  src: url("../../font/asap-italic-webfont.eot");
  src: url("../../font/asap-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../../font/asap-italic-webfont.woff") format("woff"), url("../../font/asap-italic-webfont.ttf") format("truetype"), url("../../font/asap-italic-webfont.svg#asapitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "asap";
  src: url("../../font/asap-regular-webfont.eot");
  src: url("../../font/asap-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../font/asap-regular-webfont.woff") format("woff"), url("../../font/asap-regular-webfont.ttf") format("truetype"), url("../../font/asap-regular-webfont.svg#asapregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "franchise";
  src: url("../../font/franchise-bold-webfont.eot");
  src: url("../../font/franchise-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../font/franchise-bold-webfont.woff") format("woff"), url("../../font/franchise-bold-webfont.ttf") format("truetype"), url("../../font/franchise-bold-webfont.svg#franchiseregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 1, ../sass/_global.sass */
html {
  background: #cccccc url(../../img/gray-jean.png);
}

/* line 5, ../sass/_global.sass */
body {
  width: 920px;
  margin: 0 auto;
  color: #343433;
  font-weight: 100;
  background-color: white;
  box-shadow: 0 0 60px #cccccc;
  font-family: "Open Sans", Verdana, Helvetica, sans-serif;
}

/* line 14, ../sass/_global.sass */
header, .overlay, .sponsors {
  font-weight: 400;
}

/* line 17, ../sass/_global.sass */
p {
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

/* line 21, ../sass/_global.sass */
sup {
  font-size: 0.61803em;
  vertical-align: super;
}

/* line 25, ../sass/_global.sass */
h2 {
  line-height: 2em;
  margin-bottom: 0.5em;
  border-bottom: 1px dotted #cccccc;
  font-size: 24px;
  letter-spacing: 2px;
  font-family: "Open Sans", Verdana, Helvetica, sans-serif;
}

/* line 33, ../sass/_global.sass */
h3 {
  margin-top: 12px;
  font-weight: 400;
}

/* line 38, ../sass/_global.sass */
main a {
  text-decoration: none;
  color: #555566;
  border-bottom: 1px dotted #bbbbcc;
}

/* line 43, ../sass/_global.sass */
.l {
  color: #8766ad;
}

/* line 45, ../sass/_global.sass */
.e {
  color: #b4d435;
}

/* line 47, ../sass/_global.sass */
.p {
  color: #f58345;
}

/* line 50, ../sass/_global.sass */
.preheader,
main > div {
  padding: 0 23px;
}

/* line 54, ../sass/_global.sass */
main > div:nth-child(1), .overlay + div {
  padding-top: 1.5em;
}

/* line 60, ../sass/_global.sass */
.preheader {
  position: relative;
  font-size: 0;
}
/* line 63, ../sass/_global.sass */
.preheader h2 {
  line-height: 14px;
  margin-top: 12px;
  border-bottom: 0;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  font-family: asap, "Open Sans", Verdana, Helvetica, sans-serif;
}
/* line 71, ../sass/_global.sass */
.preheader p {
  font-size: 18px;
  font-weight: 400;
}
/* line 74, ../sass/_global.sass */
.preheader .top {
  height: 36px;
  line-height: 36px;
  width: 100%;
  margin-bottom: 18px;
  padding: 18px 0;
}
/* line 80, ../sass/_global.sass */
.preheader .top .leads img {
  float: left;
  height: 100%;
  width: auto;
  margin-right: 18px;
}
/* line 85, ../sass/_global.sass */
.preheader .top .social,
.preheader .top .lang-switcher {
  float: right;
}
/* line 88, ../sass/_global.sass */
.preheader .top .social a,
.preheader .top .lang-switcher {
  color: #727273;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 94, ../sass/_global.sass */
.preheader .top .social {
  margin-right: 16px;
}
/* line 96, ../sass/_global.sass */
.preheader .top .social a {
  height: 21px;
  width: 21px;
  display: inline-block;
  vertical-align: middle;
  background-size: contain;
  margin-right: 8px;
}
/* line 103, ../sass/_global.sass */
.preheader .top .social a:hover {
  opacity: 0.6;
}
/* line 105, ../sass/_global.sass */
.preheader .top .social .facebook {
  background-image: url("../../img/social-facebook.png");
}
/* line 107, ../sass/_global.sass */
.preheader .top .social .twitter {
  background-image: url("../../img/social-twitter.png");
}
/* line 109, ../sass/_global.sass */
.preheader .top .social .linkedin {
  background-image: url("../../img/social-linkedin.png");
}
/* line 112, ../sass/_global.sass */
.preheader .buddies, .preheader .info {
  display: inline-block;
  width: 42.5%;
  vertical-align: bottom;
}
/* line 116, ../sass/_global.sass */
.preheader .buddies img, .preheader .info img {
  width: 100%;
  height: auto;
}
/* line 119, ../sass/_global.sass */
.preheader .buddies {
  margin: 36px 0 0 5%;
}
/* line 121, ../sass/_global.sass */
.preheader .buddies .notification {
  display: block;
  padding: 0.2rem 0;
  font-size: 0.6667rem;
  text-align: center;
  color: white;
  text-decoration: none;
  background: #b19bc9;
  position: relative;
  top: -36px;
}
/* line 131, ../sass/_global.sass */
.preheader .buddies .notification:hover {
  background: #8766ad;
}
/* line 133, ../sass/_global.sass */
.preheader .buddies .notification span.linktext {
  text-decoration: underline;
  font-size: 1.5em;
}
/* line 136, ../sass/_global.sass */
.preheader .buddies img {
  vertical-align: bottom;
}
/* line 138, ../sass/_global.sass */
.preheader .info {
  margin: 36px 5% 0 0;
  color: #727273;
}

/* line 142, ../sass/_global.sass */
.blockers {
  z-index: 4;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px;
}
/* line 149, ../sass/_global.sass */
.blockers:before, .blockers:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 20px;
  width: 40px;
  background-color: white;
}
/* line 156, ../sass/_global.sass */
.blockers:before {
  left: 0;
}
/* line 158, ../sass/_global.sass */
.blockers:after {
  right: 0;
}

/* line 161, ../sass/_global.sass */
header {
  position: relative;
  z-index: 3;
  width: 1000px;
  margin-left: -40px;
  padding-right: 40px;
  background-color: #f58345;
  background-color: rgba(245, 131, 69, 0.95);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: width 0.3s, margin-left 0.3s;
  -webkit-transition-delay: 0.3s, 0.3s;
  -moz-transition: width 0.3s 0.3s, margin-left 0.3s 0.3s;
  -o-transition: width 0.3s 0.3s, margin-left 0.3s 0.3s;
  transition: width 0.3s 0.3s, margin-left 0.3s 0.3s;
}
/* line 172, ../sass/_global.sass */
header:before, header:after {
  content: "";
  position: absolute;
  top: -20px;
  height: 0;
  width: 0;
  border-bottom: 20px solid #d36123;
}
/* line 179, ../sass/_global.sass */
header:before {
  left: 0;
  border-left: 40px solid transparent;
}
/* line 182, ../sass/_global.sass */
header:after {
  right: 0;
  border-right: 40px solid transparent;
}
/* line 185, ../sass/_global.sass */
header nav {
  height: 60px;
  line-height: 60px;
  text-align: right;
}
/* line 190, ../sass/_global.sass */
header nav a {
  padding: 5px 10px;
  padding-bottom: 15px;
  border-bottom: 3px solid transparent;
  color: white;
  text-decoration: none;
  -webkit-transition: padding 0.5s, border 0.5s, color 0.5s;
  -moz-transition: padding 0.5s, border 0.5s, color 0.5s;
  -o-transition: padding 0.5s, border 0.5s, color 0.5s;
  transition: padding 0.5s, border 0.5s, color 0.5s;
}
/* line 197, ../sass/_global.sass */
header nav a.selected, header nav a:hover {
  padding-bottom: 5px;
}
/* line 199, ../sass/_global.sass */
header nav a:hover {
  border-color: #e47234;
}
/* line 201, ../sass/_global.sass */
header nav a.selected {
  border-color: white;
}
/* line 203, ../sass/_global.sass */
header nav a.selected:hover {
  border-color: white;
}

/* line 207, ../sass/_global.sass */
.hlock #navheader {
  z-index: 5;
  position: fixed;
  top: 0;
  margin-left: 0;
  width: 920px;
}
/* line 213, ../sass/_global.sass */
.hlock main {
  margin-top: 60px;
}

/* line 216, ../sass/_global.sass */
.overlay {
  position: relative;
  height: 396px;
  color: white;
  text-align: center;
  text-shadow: 0 0 6px black;
  background-position: bottom right;
  background-color: #8766ad;
}
/* line 222, ../sass/_global.sass */
.backgroundsize .overlay {
  background-size: 150% auto;
}
/* line 228, ../sass/_global.sass */
.backgroundsize .overlay:nth-child(1) {
  background-image: url("../../img/underlay-1.png");
}
/* line 231, ../sass/_global.sass */
.overlay p:first-child {
  font-size: 30px;
  line-height: 68px;
  min-height: 238px;
  margin-bottom: 0;
}
/* line 236, ../sass/_global.sass */
.overlay p:first-child strong {
  font-size: 48px;
  font-weight: bold;
}
/* line 239, ../sass/_global.sass */
.overlay.partner p:first-child {
  min-height: 178px;
}
/* line 241, ../sass/_global.sass */
.overlay strong {
  padding: 0 0.2em;
  font-size: 24px;
  text-transform: lowercase;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
  font-family: "Open Sans", Verdana, Helvetica, sans-serif;
}
/* line 247, ../sass/_global.sass */
.overlay .a-an.an:after {
  content: "n";
}

/* line 250, ../sass/_global.sass */
.leader-para,
.sponsor-page,
.downloads-page {
  margin: 0 3em;
  font-size: 24px;
  font-weight: 100;
  color: #555555;
}

/* line 258, ../sass/_global.sass */
.downloads-page {
  font-size: 21px;
}
/* line 260, ../sass/_global.sass */
.downloads-page h2 {
  margin-top: 32px;
}

/* line 263, ../sass/_global.sass */
.speakers {
  text-align: center;
  font-size: 0;
  line-height: 32px;
  position: relative;
  overflow: hidden;
}
/* line 270, ../sass/_global.sass */
.speakers:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 734px;
  margin-left: -367px;
  border-bottom: 1px dotted #cccccc;
}
/* line 279, ../sass/_global.sass */
.speakers h2 {
  width: 734px;
  margin-left: auto;
  margin-right: auto;
  font-size: 32px;
}
/* line 284, ../sass/_global.sass */
.speakers h2 small {
  display: inline-block;
  height: 18px;
  width: 18px;
  color: white;
  background: #bbbbbb;
  font-size: 14px;
  border-radius: 9px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding-left: 2px;
}
/* line 300, ../sass/_global.sass */
.speakers h2 small:hover {
  background: #999999;
}
/* line 303, ../sass/_global.sass */
.speakers .bio-overlay {
  position: absolute;
  top: 81px;
  left: 93px;
  right: 93px;
  bottom: 16px;
  font-size: 16px;
  text-align: left;
  overflow: auto;
  background: white;
}

/* line 314, ../sass/_global.sass */
.speaker {
  display: inline-block;
  width: 210px;
  height: 217px;
  margin: 0 26px 16px;
  font-size: 24px;
  position: relative;
  -webkit-transition: bottom 0.2s;
  -moz-transition: bottom 0.2s;
  -o-transition: bottom 0.2s;
  transition: bottom 0.2s;
}
/* line 322, ../sass/_global.sass */
.speaker:hover {
  bottom: 56px;
}
/* line 325, ../sass/_global.sass */
.speaker .speaker-details {
  border: none;
  font-size: 16px;
  height: 217px;
}
/* line 330, ../sass/_global.sass */
.speaker h3 {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 5px;
  font-size: 24px;
  line-height: 1.2em;
  text-align: center;
  color: white;
  text-shadow: 0 0 3px black;
  background: rgba(0, 0, 0, 0.4);
}
/* line 342, ../sass/_global.sass */
.speaker .bio {
  display: none;
}

/* line 350, ../sass/_global.sass */
.sponsor-page,
.downloads-page {
  padding-bottom: 1.5em;
}
/* line 353, ../sass/_global.sass */
.sponsor-page p,
.downloads-page p {
  margin-bottom: 1em;
}
/* line 355, ../sass/_global.sass */
.sponsor-page a,
.downloads-page a {
  text-decoration: none;
}
/* line 346, ../sass/_global.sass */
.sponsor-page li,
.downloads-page li {
  margin: 0 0 0.5em 2em;
  list-style: circle;
}

/* line 359, ../sass/_global.sass */
.about-ewb, .about-rethink {
  width: 50%;
  float: left;
  padding-top: 1.5em;
}

/* line 364, ../sass/_global.sass */
.conference-points {
  margin: 48px auto;
  font-size: 0;
}
/* line 367, ../sass/_global.sass */
.conference-points img {
  height: 36px;
  width: auto;
  margin-bottom: 9px;
}
/* line 371, ../sass/_global.sass */
.conference-points ul {
  text-align: center;
}
/* line 373, ../sass/_global.sass */
.conference-points li {
  display: inline-block;
  width: 24%;
  margin: 0 3%;
  vertical-align: top;
  font-size: 16px;
}
/* line 379, ../sass/_global.sass */
.conference-points h3 {
  font-weight: bold;
  line-height: 2.25em;
}
/* line 382, ../sass/_global.sass */
.conference-points h3 a {
  color: inherit;
  border-bottom: none;
}

/* line 386, ../sass/_global.sass */
.pullquote {
  quotes: "“" "”" "‘" "’";
  position: relative;
  display: block;
  padding-top: 24px;
  padding-bottom: 14px;
  box-shadow: inset 0 6px 20px -4px #cccccc, inset 0 -6px 20px -4px #cccccc;
  background-color: #f8f8f8;
}
/* line 394, ../sass/_global.sass */
.pullquote p {
  margin: 24px 72px 0;
  position: relative;
  font-size: 48px;
  text-align: center;
  line-height: 1.2em;
  color: #333333;
}
/* line 401, ../sass/_global.sass */
.pullquote footer {
  text-align: right;
  margin-right: 72px;
}
/* line 404, ../sass/_global.sass */
.pullquote footer:before {
  content: "– ";
}

/* line 406, ../sass/_global.sass */
.bigquotes {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 408, ../sass/_global.sass */
.bigquotes:before, .bigquotes:after {
  z-index: 0;
  position: absolute;
  font-family: franchise, serif;
  font-size: 240px;
  color: #cccccc;
}
/* line 414, ../sass/_global.sass */
.bigquotes:before {
  content: open-quote;
  top: 100px;
  left: 48px;
}
/* line 418, ../sass/_global.sass */
.bigquotes:after {
  content: close-quote;
  bottom: 20px;
  right: 48px;
}

/* line 423, ../sass/_global.sass */
.signup {
  padding: 0 168px;
}

/* line 426, ../sass/_global.sass */
.button {
  display: inline-block;
  width: 204px;
  margin: auto;
  padding: 1em;
  border: 0;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: #666666;
}
/* line 437, ../sass/_global.sass */
.button:before {
  content: "[";
}
/* line 439, ../sass/_global.sass */
.button:after {
  content: "]";
}
/* line 441, ../sass/_global.sass */
.button:before, .button:after {
  opacity: 0;
  -webkit-transition: opacity 0.5s, padding 1s;
  -moz-transition: opacity 0.5s, padding 1s;
  -o-transition: opacity 0.5s, padding 1s;
  transition: opacity 0.5s, padding 1s;
}
/* line 445, ../sass/_global.sass */
.button:hover:before, .button:hover:after {
  opacity: 1;
  padding: 0.5em;
}

/* line 449, ../sass/_global.sass */
.about-action {
  display: block;
  width: 276px;
  margin: 24px auto 36px;
}

/* line 454, ../sass/_global.sass */
.sponsors {
  margin: 36px auto 0;
  padding: 36px 0 12px;
  text-align: center;
  background-color: #e0e0e0;
  box-shadow: 0 85px 20px -80px #aaaaaa inset;
}
/* line 460, ../sass/_global.sass */
.sponsors ul {
  width: 80%;
  margin: 36px auto 0;
}
/* line 463, ../sass/_global.sass */
.sponsors li {
  margin-bottom: 18px;
}
/* line 35, ../sass/_variables.sass */
.sponsors li.decal {
  height: 50px;
  width: 143.5px;
  background-image: url("../../img/sponsors-ie/decal-ie.png");
}
/* line 39, ../sass/_variables.sass */
.backgroundsize .sponsors li.decal {
  background-position:  0 -477px;
}
/* line 35, ../sass/_variables.sass */
.sponsors li.digitalrapids {
  height: 50px;
  width: 159.5px;
  background-image: url("../../img/sponsors-ie/digitalrapids-ie.png");
}
/* line 39, ../sass/_variables.sass */
.backgroundsize .sponsors li.digitalrapids {
  background-position:  0 -951.5px;
}
/* line 35, ../sass/_variables.sass */
.sponsors li.ecamion {
  height: 59px;
  width: 111.5px;
  background-image: url("../../img/sponsors-ie/ecamion-ie.png");
}
/* line 39, ../sass/_variables.sass */
.backgroundsize .sponsors li.ecamion {
  background-position:  0 -1162px;
}
/* line 35, ../sass/_variables.sass */
.sponsors li.enbridge {
  height: 40px;
  width: 150px;
  background-image: url("../../img/sponsors-ie/enbridge-ie.png");
}
/* line 39, ../sass/_variables.sass */
.backgroundsize .sponsors li.enbridge {
  background-position:  0 -1223.5px;
}
/* line 35, ../sass/_variables.sass */
.sponsors li.engineerscanada {
  height: 80px;
  width: 392px;
  background-image: url("../../img/sponsors-ie/engineerscanada-ie.png");
}
/* line 39, ../sass/_variables.sass */
.backgroundsize .sponsors li.engineerscanada {
  background-position:  0 -187px;
}
/* line 35, ../sass/_variables.sass */
.sponsors li.ethicalbean {
  height: 50.5px;
  width: 95.5px;
  background-image: url("../../img/sponsors-ie/ethicalbean-ie.png");
}
/* line 39, ../sass/_variables.sass */
.backgroundsize .sponsors li.ethicalbean {
  background-position:  0 -1109px;
}
/* line 35, ../sass/_variables.sass */
.sponsors li.ge {
  height: 47.5px;
  width: 170.5px;
  background-image: url("../../img/sponsors-ie/ge-ie.png");
}
/* line 39, ../sass/_variables.sass */
.backgroundsize .sponsors li.ge {
  background-position:  0 -137px;
}
/* line 35, ../sass/_variables.sass */
.sponsors li.golder {
  height: 50px;
  width: 131px;
  background-image: url("../../img/sponsors-ie/golder-ie.png");
}
/* line 39, ../sass/_variables.sass */
.backgroundsize .sponsors li.golder {
  background-position:  0 -771px;
}
/* line 35, ../sass/_variables.sass */
.sponsors li.hatch {
  height: 60px;
  width: 384px;
  background-image: url("../../img/sponsors-ie/hatch-ie.png");
}
/* line 39, ../sass/_variables.sass */
.backgroundsize .sponsors li.hatch {
  background-position:  0 -269.5px;
}
/* line 35, ../sass/_variables.sass */
.sponsors li.icf {
  height: 65px;
  width: 65px;
  background-image: url("../../img/sponsors-ie/icf-ie.png");
}
/* line 39, ../sass/_variables.sass */
.backgroundsize .sponsors li.icf {
  background-position:  0 -1364px;
}
/* line 35, ../sass/_variables.sass */
.sponsors li.kinross {
  height: 45px;
  width: 148px;
  background-image: url("../../img/sponsors-ie/kinross-ie.png");
}
/* line 39, ../sass/_variables.sass */
.backgroundsize .sponsors li.kinross {
  background-position:  0 -1266px;
}
/* line 35, ../sass/_variables.sass */
.sponsors li.lassonde {
  height: 56px;
  width: 106px;
  background-image: url("../../img/sponsors-ie/lassonde-ie.png");
}
/* line 39, ../sass/_variables.sass */
.backgroundsize .sponsors li.lassonde {
  background-position:  0 -529.5px;
}
/* line 35, ../sass/_variables.sass */
.sponsors li.leplayground {
  height: 50px;
  width: 177.5px;
  background-image: url("../../img/sponsors-ie/leplayground-ie.png");
}
/* line 39, ../sass/_variables.sass */
.backgroundsize .sponsors li.leplayground {
  background-position:  0 -424.5px;
}
/* line 35, ../sass/_variables.sass */
.sponsors li.mcgill {
  height: 29px;
  width: 195px;
  background-image: url("../../img/sponsors-ie/mcgill-ie.png");
}
/* line 39, ../sass/_variables.sass */
.backgroundsize .sponsors li.mcgill {
  background-position:  0 -588px;
}
/* line 35, ../sass/_variables.sass */
.sponsors li.northland {
  height: 60px;
  width: 105.5px;
  background-image: url("../../img/sponsors-ie/northland-ie.png");
}
/* line 39, ../sass/_variables.sass */
.backgroundsize .sponsors li.northland {
  background-position:  0 -1046.5px;
}
/* line 35, ../sass/_variables.sass */
.sponsors li.ontario {
  height: 75px;
  width: 227.5px;
  background-image: url("../../img/sponsors-ie/ontario-ie.png");
}
/* line 39, ../sass/_variables.sass */
.backgroundsize .sponsors li.ontario {
  background-position:  0 -874px;
}
/* line 35, ../sass/_variables.sass */
.sponsors li.pdac {
  height: 56px;
  width: 157px;
  background-image: url("../../img/sponsors-ie/pdac-ie.png");
}
/* line 39, ../sass/_variables.sass */
.backgroundsize .sponsors li.pdac {
  background-position:  0 -660px;
}
/* line 35, ../sass/_variables.sass */
.sponsors li.prattwhitney {
  height: 40px;
  width: 202.5px;
  background-image: url("../../img/sponsors-ie/prattwhitney-ie.png");
}
/* line 39, ../sass/_variables.sass */
.backgroundsize .sponsors li.prattwhitney {
  background-position:  0 -1004px;
}
/* line 35, ../sass/_variables.sass */
.sponsors li.ryerson {
  height: 90px;
  width: 174.5px;
  background-image: url("../../img/sponsors-ie/ryerson-ie.png");
}
/* line 39, ../sass/_variables.sass */
.backgroundsize .sponsors li.ryerson {
  background-position:  0 -332px;
}
/* line 35, ../sass/_variables.sass */
.sponsors li.sherritt {
  height: 48px;
  width: 147px;
  background-image: url("../../img/sponsors-ie/sherritt-ie.png");
}
/* line 39, ../sass/_variables.sass */
.backgroundsize .sponsors li.sherritt {
  background-position:  0 -823.5px;
}
/* line 35, ../sass/_variables.sass */
.sponsors li.tised {
  height: 50px;
  width: 147px;
  background-image: url("../../img/sponsors-ie/tised-ie.png");
}
/* line 39, ../sass/_variables.sass */
.backgroundsize .sponsors li.tised {
  background-position:  0 -718.5px;
}
/* line 35, ../sass/_variables.sass */
.sponsors li.transcanada {
  height: 72px;
  width: 325.5px;
  background-image: url("../../img/sponsors-ie/transcanada-ie.png");
}
/* line 39, ../sass/_variables.sass */
.backgroundsize .sponsors li.transcanada {
  background-position:  0 -62.5px;
}
/* line 35, ../sass/_variables.sass */
.sponsors li.utoronto {
  height: 60px;
  width: 355px;
  background-image: url("../../img/sponsors-ie/utoronto-ie.png");
}
/* line 39, ../sass/_variables.sass */
.backgroundsize .sponsors li.utoronto {
  background-position:  0 0;
}
/* line 35, ../sass/_variables.sass */
.sponsors li.voto {
  height: 48px;
  width: 125px;
  background-image: url("../../img/sponsors-ie/voto-ie.png");
}
/* line 39, ../sass/_variables.sass */
.backgroundsize .sponsors li.voto {
  background-position:  0 -1313.5px;
}
/* line 35, ../sass/_variables.sass */
.sponsors li.waterloo {
  height: 38px;
  width: 160px;
  background-image: url("../../img/sponsors-ie/waterloo-ie.png");
}
/* line 39, ../sass/_variables.sass */
.backgroundsize .sponsors li.waterloo {
  background-position:  0 -619.5px;
}
/* line 44, ../sass/_variables.sass */
.backgroundsize .sponsors li {
  background-image: url('/static/img/sponsors-s9a8bcb1c3d.png');
  background-size: 392px 1429px;
}
/* line 466, ../sass/_global.sass */
.sponsors .lead li, .sponsors .gold li, .sponsors .silver li {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 470, ../sass/_global.sass */
.sponsors .fulljust li {
  display: inline-block;
  margin-left: 36px;
  margin-right: 36px;
}
/* line 474, ../sass/_global.sass */
.sponsors h2 {
  margin-top: 60px;
  @extends .boobs;
}
/* line 477, ../sass/_global.sass */
.sponsors a {
  color: #8766ad;
}

/* line 480, ../sass/_global.sass */
.about-lep {
  clear: both;
  padding: 0;
  position: relative;
}
/* line 484, ../sass/_global.sass */
.about-lep p {
  margin: 0.61803em 0;
}
/* line 486, ../sass/_global.sass */
.about-lep .about-lep-tabs {
  margin: 2rem 0 150px;
  text-align: justify;
  font-size: 0;
}
/* line 490, ../sass/_global.sass */
.about-lep .about-lep-tabs a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  font-size: 2rem;
  height: 198px;
  width: 305px;
  padding-top: 150px;
  text-align: center;
  text-decoration: none;
  color: white;
  text-shadow: 0 0 0.333em black;
  border: none;
  transition: opacity 0.1s linear;
}
/* line 502, ../sass/_global.sass */
.about-lep .about-lep-tabs a:not(.selected):not(:hover) {
  opacity: 0.5;
}
/* line 504, ../sass/_global.sass */
.about-lep .about-lep-tabs a.selected, .about-lep .about-lep-tabs a:hover {
  text-shadow: none;
}
/* line 508, ../sass/_global.sass */
.about-lep .about-lep-tabs .l {
  background: url("../../img/buddy-lead.png") 50% top no-repeat;
}
/* line 510, ../sass/_global.sass */
.about-lep .about-lep-tabs .e {
  background: url("../../img/buddy-entrepreneur.png") 50% top no-repeat;
}
/* line 512, ../sass/_global.sass */
.about-lep .about-lep-tabs .p {
  background: url("../../img/buddy-partner.png") 50% top no-repeat;
}
/* line 515, ../sass/_global.sass */
.about-lep .about-lep-hint {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #eeeeee;
  position: absolute;
  top: 198px;
  width: 920px;
  height: 177px;
  font-style: italic;
  text-align: center;
  padding-top: 54px;
  margin: 0;
}
/* line 527, ../sass/_global.sass */
.about-lep #learn-wrap,
.about-lep #innovate-wrap,
.about-lep #connect-wrap {
  overflow: hidden;
  position: absolute;
  top: 198px;
  width: 920px;
  transition: width 0.2s linear;
}
/* line 535, ../sass/_global.sass */
.about-lep #learn-wrap {
  z-index: 3;
}
/* line 537, ../sass/_global.sass */
.about-lep #innovate-wrap {
  z-index: 2;
}
/* line 539, ../sass/_global.sass */
.about-lep #connect-wrap {
  z-index: 1;
}
/* line 541, ../sass/_global.sass */
.about-lep #learn,
.about-lep #innovate,
.about-lep #connect {
  width: 920px;
  padding: 23px;
  padding-top: 105px;
  background: white;
}
/* line 548, ../sass/_global.sass */
.about-lep #learn.l, .about-lep #learn.e, .about-lep #learn.p,
.about-lep #innovate.l,
.about-lep #innovate.e,
.about-lep #innovate.p,
.about-lep #connect.l,
.about-lep #connect.e,
.about-lep #connect.p {
  color: #343433;
}
/* line 552, ../sass/_global.sass */
.about-lep #learn h2,
.about-lep #innovate h2,
.about-lep #connect h2 {
  display: none;
}
/* line 554, ../sass/_global.sass */
.about-lep #learn h3,
.about-lep #innovate h3,
.about-lep #connect h3 {
  font-size: 1.4rem;
  margin: 0.61803em 0;
  line-height: 1em;
}
/* line 558, ../sass/_global.sass */
.about-lep #learn h3.lep-title,
.about-lep #innovate h3.lep-title,
.about-lep #connect h3.lep-title {
  color: white;
}
/* line 560, ../sass/_global.sass */
.about-lep #learn h3:nth-child(2),
.about-lep #innovate h3:nth-child(2),
.about-lep #connect h3:nth-child(2) {
  font-style: italic;
  position: absolute;
  top: -17px;
  left: 0;
  width: 920px;
  padding: 23px;
  color: white;
}
/* line 568, ../sass/_global.sass */
.about-lep #learn h4,
.about-lep #innovate h4,
.about-lep #connect h4 {
  font-weight: bold;
}
/* line 570, ../sass/_global.sass */
.about-lep #learn h5,
.about-lep #innovate h5,
.about-lep #connect h5 {
  text-transform: uppercase;
}
/* line 573, ../sass/_global.sass */
.about-lep #learn h3, .about-lep #learn h4 {
  color: #8766ad;
}
/* line 575, ../sass/_global.sass */
.about-lep #learn .lep-title {
  background: #8766ad;
}
/* line 578, ../sass/_global.sass */
.about-lep #innovate h3, .about-lep #innovate h4 {
  color: #b4d435;
}
/* line 580, ../sass/_global.sass */
.about-lep #innovate .lep-title {
  background: #b4d435;
}
/* line 583, ../sass/_global.sass */
.about-lep #connect h3, .about-lep #connect h4 {
  color: #f58345;
}
/* line 585, ../sass/_global.sass */
.about-lep #connect .lep-title {
  background: #f58345;
}

/* line 588, ../sass/_global.sass */
.w5 strong {
  font-weight: bold;
}

/* line 591, ../sass/_global.sass */
.col2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 24px;
  -moz-column-gap: 24px;
  -ms-column-gap: 24px;
  -o-column-gap: 24px;
  column-gap: 24px;
}

/* line 595, ../sass/_global.sass */
.food {
  margin: 24px 0 36px;
}

/* line 598, ../sass/_global.sass */
#map-canvas {
  height: 300px;
  width: 920px;
  margin: 24px 0 36px -23px;
}

/* line 605, ../sass/_global.sass */
.routes tbody td:first-child {
  position: relative;
}
/* line 607, ../sass/_global.sass */
.routes tbody td:first-child:after {
  display: inline-block;
  content: "→";
  position: absolute;
  right: 0;
  z-index: 2;
  vertical-align: middle;
}
/* line 614, ../sass/_global.sass */
.routes tbody td:first-child:last-child:after {
  display: none;
}

/* line 617, ../sass/_global.sass */
.gmnoprint, .gm-style-cc {
  display: none;
}

/* line 620, ../sass/_global.sass */
.address p {
  line-height: 2em;
  margin-bottom: 0;
}

/* line 624, ../sass/_global.sass */
.reglink,
.downlink {
  text-align: center;
  margin: 12px 0 60px;
}
/* line 628, ../sass/_global.sass */
.reglink a,
.downlink a {
  margin-top: 20px;
}
/* line 630, ../sass/_global.sass */
.reglink small,
.downlink small {
  font-size: 12px;
}

/* line 633, ../sass/_global.sass */
table {
  width: 70%;
  margin: 36px auto 72px;
  font-weight: 100;
}
/* line 637, ../sass/_global.sass */
table small {
  font-size: 1em;
  opacity: 0.5;
}

/* line 641, ../sass/_global.sass */
.downlink a.button {
  font-size: 0.75em;
  width: auto;
  background: #8766ad;
}

/* line 646, ../sass/_global.sass */
th, td {
  height: 36px;
  padding: 0 0.5em;
  font-weight: 100;
  color: #343433;
}

/* line 652, ../sass/_global.sass */
thead {
  border-bottom: 1px solid #343433;
}

/* line 655, ../sass/_global.sass */
tbody tr {
  border-bottom: 1px dotted #dddddd;
}
/* line 658, ../sass/_global.sass */
tbody tr:hover td {
  background-color: #cccccc;
}

/* line 661, ../sass/_global.sass */
.reg-included {
  font-size: 16px;
  width: 689px;
  margin-left: auto;
  margin-right: auto;
}
/* line 346, ../sass/_global.sass */
.reg-included li {
  margin: 0 0 0.5em 2em;
  list-style: circle;
}
/* line 667, ../sass/_global.sass */
.reg-included li {
  width: 50%;
  float: left;
}

/* line 671, ../sass/_global.sass */
.sched-options {
  font-size: 32px;
  margin: 3em 0;
  text-align: center;
}
/* line 675, ../sass/_global.sass */
.sched-options b {
  font-size: 1.5em;
}
/* line 677, ../sass/_global.sass */
.sched-options .button {
  width: 360px;
}

/* line 680, ../sass/_global.sass */
.agenda {
  width: 70%;
  margin: auto;
}
/* line 683, ../sass/_global.sass */
.agenda table {
  width: 100%;
  margin: 12px 0 36px;
}
/* line 686, ../sass/_global.sass */
.agenda td {
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
/* line 687, ../sass/_global.sass */
.agenda td:first-child {
  background-color: #d5cede;
}
/* line 689, ../sass/_global.sass */
.agenda td:nth-child(2) {
  background-color: #f0f4e1;
}
/* line 691, ../sass/_global.sass */
.agenda td:last-child {
  background-color: #f9e5da;
}
/* line 693, ../sass/_global.sass */
.agenda td:only-child {
  background-color: white;
}
/* line 696, ../sass/_global.sass */
.agenda h3 {
  border-bottom: 2px solid #343433;
}

/* line 699, ../sass/_global.sass */
.boobs {
  margin-bottom: 60px;
}

/* line 702, ../sass/_global.sass */
.shameless {
  text-align: center;
  padding-top: 3em;
  font-size: 1.3em;
  clear: both;
}

/* line 708, ../sass/_global.sass */
.days {
  float: left;
  display: none;
}

/* line 712, ../sass/_global.sass */
#streams {
  float: right;
}
/* line 714, ../sass/_global.sass */
#streams label {
  display: inline;
  padding: 5px 10px;
  font-size: 16px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
/* line 720, ../sass/_global.sass */
#streams label:hover {
  cursor: pointer;
}
/* line 724, ../sass/_global.sass */
#streams input:checked + label:nth-child(2) {
  background-color: #8766ad;
}
/* line 726, ../sass/_global.sass */
#streams input:checked + label:nth-child(4) {
  background-color: #b4d435;
}
/* line 728, ../sass/_global.sass */
#streams input:checked + label:nth-child(6) {
  background-color: #f58345;
}

/* line 740, ../sass/_global.sass */
body > footer {
  height: 36px;
  line-height: 36px;
  width: 100%;
  min-width: 800px;
  padding: 0 18px;
  color: white;
  background-color: #727273;
  font-size: 12px;
}
/* line 749, ../sass/_global.sass */
body > footer p {
  float: left;
  line-height: inherit;
  margin-bottom: 0;
}
/* line 753, ../sass/_global.sass */
body > footer small {
  float: right;
}
/* line 755, ../sass/_global.sass */
body > footer a {
  color: white;
}
/* line 757, ../sass/_global.sass */
body > footer a:hover {
  color: #66ccff;
}

/* line 760, ../sass/_global.sass */
#thanks {
  text-align: center;
  padding-bottom: 60px;
}
/* line 763, ../sass/_global.sass */
#thanks h2 {
  font-size: 36px;
  font-weight: bold;
  border-bottom: 0;
}

@media print {
  /* line 3, ../sass/_devices.sass */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 9, ../sass/_devices.sass */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 12, ../sass/_devices.sass */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 15, ../sass/_devices.sass */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 18, ../sass/_devices.sass */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 21, ../sass/_devices.sass */
  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  /* line 25, ../sass/_devices.sass */
  thead {
    display: table-header-group;
  }

  /* line 28, ../sass/_devices.sass */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 31, ../sass/_devices.sass */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 37, ../sass/_devices.sass */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 41, ../sass/_devices.sass */
  h2, h3 {
    page-break-after: avoid;
  }
}
