@charset "UTF-8";
/* compass & preferences */
/* line 17, ../../../../../.gem/ruby/2.0.0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.gem/ruby/2.0.0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.gem/ruby/2.0.0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.gem/ruby/2.0.0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.gem/ruby/2.0.0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.gem/ruby/2.0.0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.gem/ruby/2.0.0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.gem/ruby/2.0.0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.gem/ruby/2.0.0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/main.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

/* line 63, ../sass/_variables.sass */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
/* line 69, ../sass/_variables.sass */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 76, ../sass/_variables.sass */
.fulljust {
  text-align: justify;
}
/* line 78, ../sass/_variables.sass */
.fulljust:after {
  content: "";
  display: inline-block;
  width: 100%;
}

/* line 84, ../sass/_variables.sass */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 89, ../sass/_variables.sass */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 102, ../sass/_variables.sass */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 111, ../sass/_variables.sass */
.invisible {
  visibility: hidden;
}

/* line 115, ../sass/_variables.sass */
.clearfix {
  *zoom: 1;
}
/* line 118, ../sass/_variables.sass */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 122, ../sass/_variables.sass */
.clearfix:after {
  clear: both;
}

/* line 126, ../sass/_variables.sass */
.browsehappy {
  margin: 0.2em 0;
  background: #cccccc;
  color: black;
  padding: 0.2em 0;
}

/* line 105, ../../../../../.gem/ruby/2.0.0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 112.5%;
  line-height: 1.5em;
}

@font-face {
  font-family: "asap";
  src: url("../../font/asap-bold-webfont.eot");
  src: url("../../font/asap-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../font/asap-bold-webfont.woff") format("woff"), url("../../font/asap-bold-webfont.ttf") format("truetype"), url("../../font/asap-bold-webfont.svg#asapbold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "asap";
  src: url("../../font/asap-bolditalic-webfont.eot");
  src: url("../../font/asap-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../font/asap-bolditalic-webfont.woff") format("woff"), url("../../font/asap-bolditalic-webfont.ttf") format("truetype"), url("../../font/asap-bolditalic-webfont.svg#asapbold_italic") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "asap";
  src: url("../../font/asap-italic-webfont.eot");
  src: url("../../font/asap-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../../font/asap-italic-webfont.woff") format("woff"), url("../../font/asap-italic-webfont.ttf") format("truetype"), url("../../font/asap-italic-webfont.svg#asapitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "asap";
  src: url("../../font/asap-regular-webfont.eot");
  src: url("../../font/asap-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../font/asap-regular-webfont.woff") format("woff"), url("../../font/asap-regular-webfont.ttf") format("truetype"), url("../../font/asap-regular-webfont.svg#asapregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "franchise";
  src: url("../../font/franchise-bold-webfont.eot");
  src: url("../../font/franchise-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../font/franchise-bold-webfont.woff") format("woff"), url("../../font/franchise-bold-webfont.ttf") format("truetype"), url("../../font/franchise-bold-webfont.svg#franchiseregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 1, ../sass/_global.sass */
html {
  background: #cccccc url(../../img/gray-jean.png);
}

/* line 4, ../sass/_global.sass */
body {
  width: 920px;
  margin: 0 auto;
  color: #343433;
  font-weight: 100;
  background-color: white;
  box-shadow: 0 0 60px #cccccc;
  font-family: "Open Sans", Verdana, Helvetica, sans-serif;
}

/* line 13, ../sass/_global.sass */
header, .overlay, .sponsors {
  font-weight: 400;
}

/* line 16, ../sass/_global.sass */
p {
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

/* line 20, ../sass/_global.sass */
h2 {
  line-height: 2em;
  margin-bottom: 0.5em;
  border-bottom: 1px dotted #cccccc;
  font-size: 24px;
  letter-spacing: 2px;
  font-family: "Open Sans", Verdana, Helvetica, sans-serif;
}

/* line 28, ../sass/_global.sass */
h3 {
  margin-top: 12px;
  font-weight: 400;
}

/* line 33, ../sass/_global.sass */
main a {
  text-decoration: none;
  color: #555566;
  border-bottom: 1px dotted #bbbbcc;
}

/* line 38, ../sass/_global.sass */
.l {
  color: #8766ad;
}

/* line 40, ../sass/_global.sass */
.e {
  color: #b4d435;
}

/* line 42, ../sass/_global.sass */
.p {
  color: #f58345;
}

/* line 45, ../sass/_global.sass */
.preheader,
main > div {
  padding: 0 23px;
}

/* line 49, ../sass/_global.sass */
main > div:nth-child(1), .overlay + div {
  padding-top: 1.5em;
}

/* line 52, ../sass/_global.sass */
.preheader {
  position: relative;
  font-size: 0;
}
/* line 55, ../sass/_global.sass */
.preheader h2 {
  line-height: 14px;
  margin-top: 12px;
  border-bottom: 0;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  font-family: asap, "Open Sans", Verdana, Helvetica, sans-serif;
}
/* line 63, ../sass/_global.sass */
.preheader p {
  font-size: 18px;
  font-weight: 400;
}
/* line 66, ../sass/_global.sass */
.preheader .top {
  height: 36px;
  line-height: 36px;
  width: 100%;
  margin-bottom: 18px;
  padding: 18px 0;
}
/* line 72, ../sass/_global.sass */
.preheader .top img {
  float: left;
  height: 100%;
  width: auto;
  margin-right: 18px;
}
/* line 77, ../sass/_global.sass */
.preheader .top a {
  float: right;
  color: #727273;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 84, ../sass/_global.sass */
.preheader .buddies, .preheader .info {
  display: inline-block;
  width: 42.5%;
  vertical-align: bottom;
}
/* line 88, ../sass/_global.sass */
.preheader .buddies img, .preheader .info img {
  width: 100%;
  height: auto;
}
/* line 91, ../sass/_global.sass */
.preheader .buddies {
  margin: 36px 0 0 5%;
}
/* line 93, ../sass/_global.sass */
.preheader .buddies img {
  vertical-align: bottom;
}
/* line 95, ../sass/_global.sass */
.preheader .info {
  margin: 36px 5% 0 0;
  color: #727273;
}

/* line 99, ../sass/_global.sass */
.blockers {
  z-index: 4;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px;
}
/* line 106, ../sass/_global.sass */
.blockers:before, .blockers:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 20px;
  width: 40px;
  background-color: white;
}
/* line 113, ../sass/_global.sass */
.blockers:before {
  left: 0;
}
/* line 115, ../sass/_global.sass */
.blockers:after {
  right: 0;
}

/* line 118, ../sass/_global.sass */
header {
  position: relative;
  z-index: 3;
  width: 1000px;
  margin-left: -40px;
  padding-right: 40px;
  background-color: #f58345;
  background-color: rgba(245, 131, 69, 0.95);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: width 0.3s, margin-left 0.3s, padding-right 0.3s;
  -webkit-transition-delay: 0.3s, 0.3s, 0s;
  -moz-transition: width 0.3s 0.3s, margin-left 0.3s 0.3s, padding-right 0.3s;
  -o-transition: width 0.3s 0.3s, margin-left 0.3s 0.3s, padding-right 0.3s;
  transition: width 0.3s 0.3s, margin-left 0.3s 0.3s, padding-right 0.3s;
}
/* line 129, ../sass/_global.sass */
header:before, header:after {
  content: "";
  position: absolute;
  top: -20px;
  height: 0;
  width: 0;
  border-bottom: 20px solid #d36123;
}
/* line 136, ../sass/_global.sass */
header:before {
  left: 0;
  border-left: 40px solid transparent;
}
/* line 139, ../sass/_global.sass */
header:after {
  right: 0;
  border-right: 40px solid transparent;
}
/* line 142, ../sass/_global.sass */
header nav {
  height: 60px;
  line-height: 60px;
  text-align: right;
}
/* line 147, ../sass/_global.sass */
header nav a {
  padding: 5px 10px;
  padding-bottom: 15px;
  border-bottom: 3px solid transparent;
  color: white;
  text-decoration: none;
  -webkit-transition: padding 0.5s, border 0.5s, color 0.5s;
  -moz-transition: padding 0.5s, border 0.5s, color 0.5s;
  -o-transition: padding 0.5s, border 0.5s, color 0.5s;
  transition: padding 0.5s, border 0.5s, color 0.5s;
}
/* line 154, ../sass/_global.sass */
header nav a.selected, header nav a:hover {
  padding-bottom: 5px;
}
/* line 156, ../sass/_global.sass */
header nav a:hover {
  border-color: #e47234;
}
/* line 158, ../sass/_global.sass */
header nav a.selected {
  border-color: white;
}
/* line 160, ../sass/_global.sass */
header nav a.selected:hover {
  border-color: white;
}

/* line 163, ../sass/_global.sass */
.hlock {
  position: fixed;
  top: 0;
  margin-left: 0;
  padding-right: 0;
  width: 920px;
}

/* line 170, ../sass/_global.sass */
.mlock {
  margin-top: 60px;
}

/* line 173, ../sass/_global.sass */
.overlay {
  position: relative;
  height: 396px;
  color: white;
  text-align: center;
  text-shadow: 0 0 6px black;
  background-position: bottom right;
  background-color: #8766ad;
}
/* line 179, ../sass/_global.sass */
.backgroundsize .overlay {
  background-size: 150% auto;
}
/* line 185, ../sass/_global.sass */
.backgroundsize .overlay:nth-child(1) {
  background-image: url("../../img/underlay-2a.png");
}
/* line 188, ../sass/_global.sass */
.overlay p:first-child {
  font-size: 30px;
  line-height: 68px;
  min-height: 238px;
  margin-bottom: 0;
}
/* line 193, ../sass/_global.sass */
.overlay p:first-child strong {
  font-size: 48px;
  font-weight: 100;
}
/* line 196, ../sass/_global.sass */
.overlay.partner p:first-child {
  min-height: 178px;
}
/* line 198, ../sass/_global.sass */
.overlay strong {
  padding: 0 0.2em;
  font-size: 24px;
  color: #bbbbbb;
  text-transform: lowercase;
  background-color: white;
  text-shadow: none;
  transition: background-color 0.667s linear;
  font-family: "Open Sans", Verdana, Helvetica, sans-serif;
}

/* line 208, ../sass/_global.sass */
.leader-para, .sponsor-page {
  margin: 0 3em;
  font-size: 24px;
  font-weight: 100;
  color: #555555;
}

/* line 214, ../sass/_global.sass */
.sponsor-page {
  padding-bottom: 1.5em;
}
/* line 216, ../sass/_global.sass */
.sponsor-page p {
  margin-bottom: 1em;
}
/* line 218, ../sass/_global.sass */
.sponsor-page a {
  padding: 0.2em;
  font-weight: 400;
  color: white;
  background-color: #f58345;
  text-decoration: none;
}
/* line 224, ../sass/_global.sass */
.sponsor-page li {
  margin: 0 0 0.5em 2em;
  list-style: circle;
}

/* line 228, ../sass/_global.sass */
.about-ewb, .about-rethink {
  width: 50%;
  float: left;
  padding-top: 1.5em;
}

/* line 233, ../sass/_global.sass */
.conference-points {
  margin: 48px auto;
  font-size: 0;
}
/* line 236, ../sass/_global.sass */
.conference-points img {
  height: 36px;
  width: auto;
  margin-bottom: 9px;
}
/* line 240, ../sass/_global.sass */
.conference-points ul {
  text-align: center;
}
/* line 242, ../sass/_global.sass */
.conference-points li {
  display: inline-block;
  width: 24%;
  margin: 0 3%;
  vertical-align: top;
  font-size: 18px;
  font-size: 1rem;
  line-height: 27px;
  line-height: 1.5rem;
}
/* line 248, ../sass/_global.sass */
.conference-points h3 {
  font-weight: bold;
  line-height: 41px;
  line-height: 2.25rem;
}

/* line 252, ../sass/_global.sass */
.pullquote {
  quotes: "“" "”" "‘" "’";
  position: relative;
  display: block;
  padding-top: 24px;
  padding-bottom: 14px;
  box-shadow: inset 0 6px 20px -4px #cccccc, inset 0 -6px 20px -4px #cccccc;
  background-color: #f8f8f8;
}
/* line 260, ../sass/_global.sass */
.pullquote p {
  margin: 24px 72px 0;
  position: relative;
  font-size: 48px;
  text-align: center;
  line-height: 1.2em;
  color: #333333;
}
/* line 267, ../sass/_global.sass */
.pullquote footer {
  text-align: right;
  margin-right: 72px;
}
/* line 270, ../sass/_global.sass */
.pullquote footer:before {
  content: "– ";
}

/* line 272, ../sass/_global.sass */
.bigquotes {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 274, ../sass/_global.sass */
.bigquotes:before, .bigquotes:after {
  z-index: 0;
  position: absolute;
  font-family: franchise, serif;
  font-size: 240px;
  color: #cccccc;
}
/* line 280, ../sass/_global.sass */
.bigquotes:before {
  content: open-quote;
  top: 100px;
  left: 48px;
}
/* line 284, ../sass/_global.sass */
.bigquotes:after {
  content: close-quote;
  bottom: 20px;
  right: 48px;
}

/* line 289, ../sass/_global.sass */
.signup {
  padding: 0 168px;
}

/* line 292, ../sass/_global.sass */
.button {
  display: inline-block;
  width: 204px;
  margin: auto;
  padding: 1em;
  border: 0;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: #009999;
}
/* line 303, ../sass/_global.sass */
.button:before {
  content: "[";
}
/* line 305, ../sass/_global.sass */
.button:after {
  content: "]";
}
/* line 307, ../sass/_global.sass */
.button:before, .button:after {
  opacity: 0;
  -webkit-transition: opacity 0.5s, padding 1s;
  -moz-transition: opacity 0.5s, padding 1s;
  -o-transition: opacity 0.5s, padding 1s;
  transition: opacity 0.5s, padding 1s;
}
/* line 311, ../sass/_global.sass */
.button:hover:before, .button:hover:after {
  opacity: 1;
  padding: 0.5em;
}

/* line 316, ../sass/_global.sass */
.sponsors {
  margin: 36px auto 0;
  padding: 36px 0 12px;
  text-align: center;
  background-color: #e0e0e0;
  box-shadow: 0 85px 20px -80px #aaaaaa inset;
}
/* line 322, ../sass/_global.sass */
.sponsors ul {
  width: 80%;
  margin: 36px auto 0;
}
/* line 34, ../sass/_variables.sass */
.sponsors li.hatch {
  height: 60px;
  width: 384px;
  background-image: url("../../img/sponsors-ie/hatch-ie.png");
}
/* line 38, ../sass/_variables.sass */
.backgroundsize .sponsors li.hatch {
  background-position:  0 0;
}
/* line 34, ../sass/_variables.sass */
.sponsors li.sherritt {
  height: 48px;
  width: 147px;
  background-image: url("../../img/sponsors-ie/sherritt-ie.png");
}
/* line 38, ../sass/_variables.sass */
.backgroundsize .sponsors li.sherritt {
  background-position:  0 -60.5px;
}
/* line 34, ../sass/_variables.sass */
.sponsors li.transcanada {
  height: 72px;
  width: 325.5px;
  background-image: url("../../img/sponsors-ie/transcanada-ie.png");
}
/* line 38, ../sass/_variables.sass */
.backgroundsize .sponsors li.transcanada {
  background-position:  0 -109px;
}
/* line 43, ../sass/_variables.sass */
.backgroundsize .sponsors li {
  background-image: url('/static/img/sponsors-s3c895a3ff8.png');
  background-size: 384px 181px;
}
/* line 327, ../sass/_global.sass */
.sponsors .lead li, .sponsors .gold li {
  display: block;
  margin: 0 auto;
}
/* line 330, ../sass/_global.sass */
.sponsors .fulljust li {
  display: inline-block;
  margin: 0 36px;
}
/* line 333, ../sass/_global.sass */
.sponsors p {
  font-size: 12px;
}
/* line 335, ../sass/_global.sass */
.sponsors a {
  color: #8766ad;
}

/* line 339, ../sass/_global.sass */
.about-lep {
  clear: both;
  padding: 0;
  position: relative;
}
/* line 343, ../sass/_global.sass */
.about-lep p {
  margin: 0.61803em 0;
}
/* line 345, ../sass/_global.sass */
.about-lep .about-lep-tabs {
  margin: 2rem 0 150px;
  text-align: justify;
  font-size: 0;
}
/* line 349, ../sass/_global.sass */
.about-lep .about-lep-tabs a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  font-size: 2rem;
  height: 198px;
  width: 305px;
  padding-top: 150px;
  text-align: center;
  text-decoration: none;
  color: white;
  text-shadow: 0 0 0.333em black;
  border: none;
  transition: opacity 0.1s linear;
}
/* line 361, ../sass/_global.sass */
.about-lep .about-lep-tabs a:not(.selected):not(:hover) {
  opacity: 0.5;
}
/* line 363, ../sass/_global.sass */
.about-lep .about-lep-tabs a.selected, .about-lep .about-lep-tabs a:hover {
  text-shadow: none;
}
/* line 367, ../sass/_global.sass */
.about-lep .about-lep-tabs .l {
  background: url("../../img/buddy-lead.png") 50% top no-repeat;
}
/* line 369, ../sass/_global.sass */
.about-lep .about-lep-tabs .e {
  background: url("../../img/buddy-entrepreneur.png") 50% top no-repeat;
}
/* line 371, ../sass/_global.sass */
.about-lep .about-lep-tabs .p {
  background: url("../../img/buddy-partner.png") 50% top no-repeat;
}
/* line 374, ../sass/_global.sass */
.about-lep .about-lep-hint {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #eeeeee;
  position: absolute;
  top: 198px;
  width: 920px;
  height: 177px;
  font-style: italic;
  text-align: center;
  padding-top: 54px;
  margin: 0;
}
/* line 386, ../sass/_global.sass */
.about-lep #learn-wrap,
.about-lep #innovate-wrap,
.about-lep #connect-wrap {
  overflow: hidden;
  position: absolute;
  top: 198px;
  width: 920px;
  transition: width 0.2s linear;
}
/* line 394, ../sass/_global.sass */
.about-lep #learn-wrap {
  z-index: 3;
}
/* line 396, ../sass/_global.sass */
.about-lep #innovate-wrap {
  z-index: 2;
}
/* line 398, ../sass/_global.sass */
.about-lep #connect-wrap {
  z-index: 1;
}
/* line 400, ../sass/_global.sass */
.about-lep #learn,
.about-lep #innovate,
.about-lep #connect {
  width: 920px;
  padding: 23px;
  color: white;
}
/* line 406, ../sass/_global.sass */
.about-lep #learn h2,
.about-lep #innovate h2,
.about-lep #connect h2 {
  display: none;
}
/* line 408, ../sass/_global.sass */
.about-lep #learn h3,
.about-lep #innovate h3,
.about-lep #connect h3 {
  font-size: 1.4rem;
  margin: 0.61803em 0;
  line-height: 1em;
}
/* line 412, ../sass/_global.sass */
.about-lep #learn h3:nth-child(2),
.about-lep #innovate h3:nth-child(2),
.about-lep #connect h3:nth-child(2) {
  font-style: italic;
}
/* line 414, ../sass/_global.sass */
.about-lep #learn h4,
.about-lep #innovate h4,
.about-lep #connect h4 {
  font-weight: bold;
}
/* line 416, ../sass/_global.sass */
.about-lep #learn h5,
.about-lep #innovate h5,
.about-lep #connect h5 {
  text-transform: uppercase;
}
/* line 418, ../sass/_global.sass */
.about-lep #learn {
  background: #8766ad;
}
/* line 420, ../sass/_global.sass */
.about-lep #innovate {
  background: #b4d435;
}
/* line 422, ../sass/_global.sass */
.about-lep #connect {
  background: #f58345;
}

/* line 425, ../sass/_global.sass */
.w5 strong {
  font-weight: bold;
}

/* line 428, ../sass/_global.sass */
.col2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 24px;
  -moz-column-gap: 24px;
  column-gap: 24px;
}

/* line 432, ../sass/_global.sass */
.food {
  margin: 24px 0 36px;
}

/* line 435, ../sass/_global.sass */
#map-canvas {
  height: 300px;
  width: 920px;
  margin: 24px 0 36px -23px;
}

/* line 440, ../sass/_global.sass */
.gmnoprint, .gm-style-cc {
  display: none;
}

/* line 443, ../sass/_global.sass */
.address p {
  line-height: 2em;
  margin-bottom: 0;
}

/* line 447, ../sass/_global.sass */
.reglink {
  text-align: center;
  margin: 12px 0 60px;
}
/* line 450, ../sass/_global.sass */
.reglink a {
  margin-top: 20px;
}

/* line 453, ../sass/_global.sass */
table {
  width: 70%;
  margin: 36px auto 72px;
  font-weight: 100;
}

/* line 458, ../sass/_global.sass */
th, td {
  height: 36px;
  padding: 0 0.5em;
  font-weight: 100;
  color: #343433;
}

/* line 464, ../sass/_global.sass */
thead {
  border-bottom: 1px solid #343433;
}

/* line 467, ../sass/_global.sass */
tbody tr {
  border-bottom: 1px dotted #dddddd;
}
/* line 470, ../sass/_global.sass */
tbody tr:hover td {
  background-color: #cccccc;
}

/* line 473, ../sass/_global.sass */
.agenda {
  width: 70%;
  margin: auto;
}
/* line 476, ../sass/_global.sass */
.agenda table {
  width: 100%;
  margin: 12px 0 36px;
}
/* line 479, ../sass/_global.sass */
.agenda td {
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
/* line 480, ../sass/_global.sass */
.agenda td:first-child {
  background-color: #8766ad;
}
/* line 482, ../sass/_global.sass */
.agenda td:nth-child(2) {
  background-color: #b4d435;
}
/* line 484, ../sass/_global.sass */
.agenda td:last-child {
  background-color: #f58345;
}
/* line 486, ../sass/_global.sass */
.agenda td:only-child {
  background-color: #ba9361;
}

/* line 490, ../sass/_global.sass */
body > footer {
  height: 36px;
  line-height: 36px;
  width: 100%;
  min-width: 800px;
  padding: 0 18px;
  color: white;
  background-color: #727273;
  font-size: 12px;
}
/* line 499, ../sass/_global.sass */
body > footer p {
  float: left;
  line-height: inherit;
  margin-bottom: 0;
}
/* line 503, ../sass/_global.sass */
body > footer small {
  float: right;
}
/* line 505, ../sass/_global.sass */
body > footer a {
  color: white;
}
/* line 507, ../sass/_global.sass */
body > footer a:hover {
  color: #66ccff;
}

@media print {
  /* line 3, ../sass/_devices.sass */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 9, ../sass/_devices.sass */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 12, ../sass/_devices.sass */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 15, ../sass/_devices.sass */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 18, ../sass/_devices.sass */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 21, ../sass/_devices.sass */
  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  /* line 25, ../sass/_devices.sass */
  thead {
    display: table-header-group;
  }

  /* line 28, ../sass/_devices.sass */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 31, ../sass/_devices.sass */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 37, ../sass/_devices.sass */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 41, ../sass/_devices.sass */
  h2, h3 {
    page-break-after: avoid;
  }
}
