%% extends "base.html"

%% block main

<div class="about-ewb">
  ## hey, feel free to change these divs to divs and swap out the headers for something better
  ## if you want
  <div>
    <h2>{{ _("Engineers Without Borders Canada") }}</h2>
    <p>{{ _("Poverty is the product of broken systems that prevent people from realizing their full potential. Beating poverty means making those systems work.") }}</p>
  </div>
  <p>{{ _("At EWB Canada, we invest in people &mdash; smart systems changers, and we incubate the systemic innovations that they create to accelerate rural African development. It’s about people working with people to create lasting, scalable change that unlocks human potential.") }}</p>
  <p>{{ _("Since 2001, we have seen many iterations in our approach. As an adaptable organization, committed to the self-reflection and external explorations needed to continue doing our best work.") }}</p>
</div>

<div class="about-rethink">
  <h2>{{ _("Rethink 2014") }}</h2>
  <p>{{ _("This is a space curated by EWB Canada, but created in real time by a diverse, cross-sector, and international delegation of over 800 individuals with great experiences and expertise. They’re some of the smartest&mdash;and newest&mdash;leaders in developing leaders, investing in entrepreneurs, and fostering partnerships for global development.") }}</p>
  <p>{{ _("Over three days of workshops, panels, and keynotes, we want to dive in, explore, and truly <i>rethink</i> the ways in which we work as a set of individuals and organizations with a common, ambitious goal.") }}</p>
</div>

<div class="about-lep">

  <nav class="about-lep-tabs">
    <li class="l"><a href="#learn">{{ _("Learn") }}</a></li>
    <li class="e"><a href="#innovate">{{ _("Innovate") }}</a></li>
    <li class="p"><a href="#connect">{{ _("Connect") }}</a></li>
  </nav>

  <div id="learn" class="l">
    <h2>{{ _("Learn") }}</h2>
    <h3>{{ _("What environments can we create to accelerate personal and organizational change?
") }}</h3>
    <p>{{ _("The complexities of the global challenges we face require a new brand of learning and collaboration space. We’ve challenged ourselves to rethink the traditional conference.") }}</p>
    <h3>{{ _("Rethink Presentations.") }}</h3>
    <p>{{ _("Information that flows in just one direction reaches only half of its potential.<br/>Welcome to the Labs.") }}</p>
    <p>{{ _("We believe that in order to truly rethink our approaches to global development, we need to leverage the full knowledge of the room &mdash; not just that of the expert at the front. What’s your unique brand of leadership? How does an entrepreneurial model of development intersect or contradict the traditional charity model? What are the interactions and incentives in a development partnership? Dive into exploratory, experimental, and creative spaces with individuals and organizations who have committed to charting new territory and facing difficult tensions.") }} </p>
    <aside>
      <h3>{{ _("Example") }}</h3>
      <h4>{{ _("LePlayground") }}</h4>
      <p>{{ _("content coming...") }}</p>
    </aside>
  </div>

  <div id="innovate" class="e">
    <h2>{{ _("Innovate") }}</h2>
    <h3>{{ _("What’s possible if we have the spaces to really get to work?
") }}</h3>
    <p>{{ _("Test the waters on your new project or idea. Leverage expertise and diversity to bring it to the next level. Find partners, resources, and the energy to move forward and change something.") }}</p>
    <h3>{{ _("Rethink Action") }}</h3>
    <p>{{ _("Why wait?") }}</p>
    <p>{{ _("The Innovation Forum has often been the flagship of conferences hosted by EWB. Rooted in our model of model of entrepreneurship and innovation, it is intended to identify and accelerate ideas that have the potential to disrupt systems of poverty and inequality.") }}</p>
    <p>{{ _("There is no idea too developed or too new for the Forum. It’s a space to bring your dream, project, startup, or organization and share your biggest questions with our diverse and well-connected delegation. Multiple breakout rooms host a diversity of entrepreneurs with big ideas for global development, as peers self-select into conversations to bring insight, human resources, or capital to your work. It’s messy, colorful, challenging, and real.") }}</p>
    <aside>
      <h3>{{ _("Case Study") }}</h3>
      <h4>{{ _("The Kumvana Program") }}</h4>
      <p>{{ _("The Kumvana Program is a testament to the innovation possible when we come together. The Program was born at the EWB-hosted conference of the same name in 2011, and encourages us that it really is possible to make ideas a reality when we give inspired delegates the hands-on opportunities to create something great.") }}</p>
    </aside>
  </div>

  <div id="connect" class="p">
    <div>
    <h2>{{ _("Connect") }}</h2>
    <h3>{{ _("Let’s face it: you often get the most value from conferences by skipping the powerpoint and stealing conversations in the hallways.") }}</h3>
    <p>{{ _("What if those hallways weren’t hallways, but intentionally set up collaboration spaces to foster the creation of partnerships, giving you all you need to move from interest to commitment?") }}</p>
    <h4>{{ _("Rethink Networking.") }}</h4>
    <p>{{ _("We’ve created two intentional spaces at Rethink to help you make the connections you want.") }}</p>
    <h5>{{ _("Collaboration Hub") }}</h5>
    <p>{{ _("Inspired by the rise&mdash;and success&mdash;of hub spaces across our country, we’ve decided to build a constant space of collaboration at this conference. Throughout Rethink, you will have the opportunity to opt-out of content and opt-in to meaningful connection, surrounded by a physical environment and the tools you need to make things happen.") }}</p>
    <h5>{{ _("Showcase Space") }}</h5>
    <p>{{ _("Interested organizations have the opportunity to bring their brand to the 800 delegates of Rethink in our showcase space. It’s for those looking to connect with global development leaders in Canada, or to find clients and investors.") }}</p>
    <p><a href="#WHERE-DOES-THIS-GO">{{ _("Get in touch") }}</a> {{ _("to find out more about the space we're curating just for you.") }}</p>
    <aside>
      <h3>{{ _("Example") }}</h3>
      <h4>{{ _("The Toronto Congress Centre") }}</h4>
      <p>{{ _("The networking opportunities at Rethink total over 30 hours of dedicated time to building connections between delegates, in a beautiful, naturally-lit and separate space provided by the Toronto Congress Centre.") }}</p>
    </aside>
  </div>

</div>

%% endblock
