About
About Conference (vision/background/labs)
A separate “immersive” page for each lab?
Why Attend?
Strong points: ideas, people, inspiration, resources, insights, etc.  (as specific as possible with value-add, and ideas around impacts moving forward / out of conference. What do you get, etc)
- Featured example sessions
- Question to be addressed
Very visual section: use icons and visuals, fewer text
Blurb about EWB (very short - relevant in re: to conference)
Past Events (possibly link to separate page)
NC2013 highlights: speakers and events?
Attendance statistics
Photos and videos (some good keynote videos)
