<!doctype html>
<html lang="{{ lang }}" class="no-js">
  <head>
      <meta charset="utf-8" />

      <title>{% block title %}EWB National Conference 2014{% endblock %}</title>

      <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300|Open+Sans:400italic,700italic,400,300,700' rel='stylesheet'>

      %% block head_top
      %% endblock

      <meta name="description" content="RETHINK 2014: Leadership, Entrepreneurship, and Partnership for Global Development.">
      <meta name="author" content="Engineers Without Borders">
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
      <meta name="viewport" content="width=device-width">

      %% block stylesheet
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css/main.css') }}?cache=busted" />
      %% endblock

      <script src="{{ url_for('static', filename='js/plugins/modernizr-2.6.2.min.js') }}"></script>
      %% block head_scripts
      %% endblock
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

<!--
    _------_
  -~        ~-
 -     _      -
-      |>      -
-      |<      -
 -     |>     -
  -    ||   engineers without borders
   -   ||  ingénieurs sans frontières
    -__||__-                   Canada
    |______|
    <______>
    <______>
       \/
-->

    %% block preheader
      <div class='preheader'>
        <div class="top">
          <a href="http://ewb.ca" class="leads" title="Engineers Without Borders Canada"><img src="{{ url_for('static', filename='img/logo-ewb-top.png') }}" alt="{{ _('Engineers Without Borders Canada') }}" /></a>
          <a href="http://hatch{% if lang == 'en' %}.ca{% else %}ltee.com{% endif %}" class="leads"><img src="{{ url_for('static', filename='img/logo-hatch-top.png') }}" alt="{{ _('Hatch') }}" /></a>
          <a class="lang-switcher" href="{{ url_for(page or 'home', lang=('en' if lang == 'fr' else 'fr')) }}">{{ _("Français") }}</a>
          <div class="social">
            <a class="facebook" href="https://www.facebook.com/EWBNationalConference" title="{{ _('Facebook') }}"></a>
            <a class="twitter" href="http://twitter.com/rethinkewb" title="{{ _('Twitter') }}"></a>
            <a class="linkedin" href="http://www.linkedin.com/groups/EWB-National-Conference-Congr%C3%A8s-national-5102412" title="{{ _('LinkedIn') }}"></a>
          </div>
        </div>
        <div class="info">
          <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/logo-rethink-top-' + lang + '.png') }}" alt="{{ _('Rethink') }}" /></a>
          <h2 class='fulljust'>{{ _("January 10<sup>th</sup> to 12<sup>th</sup><span class='divider'> | </span>Toronto, Ontario") }}</h2>
          <p>{{ _("Leadership, Entrepreneurship, and Partnership for Global Development") }}</p>
        </div>
        <div class="buddies">
          <a href="{{ url_for('downloads') }}" class="notification">
            <span class="linktext">Click here</span> for downloads and app
          </a>
          <img src="{{ url_for('static', filename='img/logo-buddies-top.png') }}" alt="{{ _('National Conference 2014 Logo') }}" />
        </div>
        <div class="blockers"></div>
      </div>
    %% endblock

    %% block header
      <header id="navheader">
        <nav>
          {% set nav_stuff = (
            ('home', _('Home')),
            ('about', _('About')),
            ('schedule', _('Schedule')),
            ('logistics', _('Logistics')),
            ('partner', _('Partner')),
            ('register', _('Register')),
          ) %}
          %% for link, name in nav_stuff
            <a href="{{ url_for(link, lang=lang) }}"{% if link == page %} class="selected"{% endif %}>{{ name }}</a>
          %% endfor
        </nav>
      </header>
    %% endblock

    <main id="main">
      %% block main
        <p>Oops! Looks like we made a mistake. We're not sure how this happened, but maybe we can fix it if you go <a href="{{ url_for('home') }}">home</a>.</p>
        <p>Seen this page before? <a href="mailto:alexbrovkin@ewb.ca">Drop us a line</a> and we'll get right to it.</p>
      %% endblock
    </main>

    %% block footer
      <footer>
        <p>{{ _('Get in touch:') }} <a href="mailto:conference2014@ewb.ca?Subject=NC14%20Question">conference2014@ewb.ca</a></p>
        <small>{{ _('All Rights Reserved, 2013') }} | {{ _('website by <a href="http://rileyjshaw.com/">Riley</a> and <a href="https://github.com/uniphil">Phil</a>') }}</small>
      </footer>
    %% endblock

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
      var jQuery = window.jQuery || document.write('<script src="{{ url_for('static', filename='js/plugins/jquery-1.10.2.min.js') }}"><\/script>');
    </script>
    <script src="{{ url_for('static', filename='js/plugins/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

    %% block tail_scripts
    %% endblock

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44174905-1', 'ewb.ca');
      ga('send', 'pageview');

      // custom tracking stuff
      $('.myewb-register').click(function() {
        // ga('send', 'event', 'Registration', 'Button Click', 'test');
        ga('send', 'event', 'Registration', 'Button Click');
      });
    </script>
  </body>
</html>
