%% extends "base.html"

%% block main

<div class="downloads-page">
  <h2>{{ _('Downloads') }}</h2>
  <p>{{ _('You will find on this page links to download documents that will help you prepare to for Rethink 2014. You most likely have already recieved some of the documents by e-mail, but you can use this page to access them all.') }}</p>
  <ul>

    <li><a href="{{ 'http://conference2014.ewb.ca/docs/Rethink_Prep_Materials_No1.pdf' if lang == 'en' else 'http://conference2014.ewb.ca/docs/Materiel_de_preparation_de_Pensons_autrement_No1.pdf' }}">{{ _('Prep materials #1 &mdash; An Introduction (.pdf)')|safe }}</a></li>

    <li><a href="{{ 'http://conference2014.ewb.ca/docs/Rethink_Prep_Materials_No2.pdf' if lang == 'en' else 'http://conference2014.ewb.ca/docs/Materiel_de_preparation_de_Pensons_autrement_No2.pdf' }}">{{ _('Prep materials #2 &mdash; Social Issues (.pdf)')|safe }}</a></li>

    <li><a href="{{ 'http://conference2014.ewb.ca/docs/Rethink_2014_Delegate_Handbook.pdf' if lang == 'en' else 'http://conference2014.ewb.ca/docs/Pensons_autrement_livret_des_delegues.pdf' }}">{{ _('Delegate Handbook (.pdf)') }}</a></li>

    <li><a href="{{ 'http://rethink.ewb.ca/docs/NC2014_Sponsor_Briefs_EN.pdf' if lang == 'en' else 'http://rethink.ewb.ca/docs/NC2014_Sponsor_Briefs_FR.pdf' }}">{{ _('Sponsorship Briefs (.pdf)') }}</a></li>

  </ul>

  <h2>{{ _('Schedule App') }}</h2>
  <p>{{ _('The conference schedule has been uploaded to an event app called Sched.org. Sched allows delegates to upload their own profiles - link your professional accounts to receive connections and invitations from other delegates - and to sign up for specific sessions.') }}</p>
  <div class="downlink">
    <a href="http://rethink2014.sched.org/" class="app button">{{ _('Click here to access the Rethink App') }}</a>
  </div>
  <p>{{ _('Note that we will not be regulating session attendance by this sign up. It is, however, the best way to get to know your conference agenda, connect to other delegates interested in the same topics as you, and check out the stellar presenters joining us this year.') }}</p>

  <h2>{{ _('Resources from Conference') }}</h2>
  <ul>
    <li><a href="http://www.startupstoryboard.com/#!playground/c1aww">Networking Playground: Startup Storyboard</a></li>
  </ul>

</div>

%% endblock