%% extends "base.html"

%% block preheader

<style>
body {
    background: url("{{ url_for('static', filename='img/star-space-tile.jpg') }}");
    color: white;
}
</style>

<img src="{{ url_for('static', filename='img/cool-logo.gif') }}" />

<p>preheader: ewb, french, localization, text and img branding.</p>
%% endblock

%% block main

<main>
  <p>Overlay, with <a href="{{ url_for('register', lang=lang) }}">signup button</a></p>
  <p>Quick points about why the conference is great</p>
  <p>Pull quote</p>
  <p>Speaker / event section with a toggle button (<a href="{{ url_for('agenda', lang=lang) }}">{{ _('See More') }}</a>)</p>
  <p>Labs info (content recieved)</p>
  <p>Register section with <a href="{{ url_for('register', lang=lang) }}">{{ _('button') }}</a></p>
  <p>Sponsor logo list with <a href="{{ url_for('sponsors', lang=lang) }}">{{ _('donor link') }}</a></p>
</main>

<iframe width="0" height="0" src="//www.youtube.com/embed/Fq3QmtV8vT0?rel=0&amp;autoplay=1" frameborder="0" allowfullscreen></iframe>

{{ url_for('static', filename='lalala')}}

%% endblock