%% extends "base.html"

%% block preheader

  <div class='preheader'>
    <div class="top">
      <img src="{{ url_for('static', filename='img/logo-ewb-top.png') }}" alt="{{ _('Engineers Without Borders Canada') }}" />
      <img src="{{ url_for('static', filename='img/logo-hatch-top.png') }}" alt="{{ _('Hatch') }}" />
      <a href="{{ url_for('home', lang=('en' if lang == 'fr' else 'fr')) }}">{{ _("Français") }}</a>
    </div>

    <div class="info">
      <img src="{{ url_for('static', filename='img/logo-rethink-top-' + lang + '.png') }}" alt="{{ _('Rethink') }}" />
      <h2 class='fulljust'>{{ _("January 9th to 12th<span class='divider'> | </span>Toronto, Ontario") }}</h2>
      <p>{{ _("Leadership, Entrepreneurship, and Partnership for Global Development") }}</p>
    </div>

    <div class="buddies">
      <img src="{{ url_for('static', filename='img/logo-buddies-top.png') }}" alt="{{ _('National Conference 2014 Logo') }}" />
    </div>
  </div>

%% endblock

%% block main

  <main>
    <div class="overlay">
      <div class="maininner">
        <p>{{ _(" a <strong>professional coach</strong>, <strong>seed funder</strong>, and <strong>coalition leader</strong><br /> walk into a rethought conference space.") }}</p>
        <p>{{ _('what happens next  is up to <b class="l">y</b><b class="e">o</b><b class="p">u</b>') }}</p>
        <a class="button" href="#signup">{{ _("Walk In") }}</a>
      </div>
    </div>

    <div class="leader-para">
      <p>{{ _("Poverty and inequality are not new, but more than ever, we see the levels of complexity and interconnections of these global challenges. With new abilities to understand how problems connect, we are called to share and collaborate in our work, to create solutions larger than single organizations.") }}</p>
      <p>{{ _('Engineers Without Borders (EWB) Canada works to <b class="l">develop leaders</b>, <b class="e">invest in entrepreneurs</b>, and <b class="p">partner with individuals and organizations</b> to tackle these global challenges. Using our work and experience in these three approaches as the foundation of this conference, <strong>we are hosting the opportunity to learn and connect <em>together</em></strong>, with the goal of improving our collective efforts for global development.') }}</p>

    <div class="conference-points">
      <ul>
        <li class="l">
          <img src="{{ url_for('static', filename='img/icon-learn-lead.png') }}" alt="{{ _('Learn and lead') }}" />
          <h3>{{ _('Learn') }}</h3>
          <p>{{ _("Dive in to emerging theories & new strategies as both a delegate and a presenter. Participate in relevant, participant-driven explorations.") }}</p>
        </li>
        <li class="e">
          <img src="{{ url_for('static', filename='img/icon-connect.png') }}" alt="{{ _('Connect') }}" />
          <h3>{{ _('Innovate') }}</h3>
          <p>{{ _("Bring your ideas, or build on context and conversations to pitch a new one. Promote them, receive feedback, or find resources.") }}</p>
        </li>
        <li class="p">
          <img src="{{ url_for('static', filename='img/icon-develop.png') }}" alt="{{ _('Develop') }}" />
          <h3>{{ _('Connect') }}</h3>
          <p>{{ _("Meet experts and up-and-comers, find clients and investors, foster new partnerships or explore existing coalition efforts.") }}</p>
        </li>
      </ul>
    </div>

    <!-- <div class="pullquote">
      <div class="bigquotes"></div>
      <blockquote>
        <p>I had a really fun time at the conference!</p>
        <footer>Phil's Mom</footer>
      </blockquote>
    </div> -->

    <!-- <div class="speakers">
      <br/> ## Hi Riley :) :)
      <h2>Key Sessions</h2>
      <br/>
      <ul>
        %% for session in sessions
          <li>
            <h3>{{ session.name }} <small>by {{ session.speakers }}</small></h3>
            <p>{{ session.description|safe }}</p>
            <br/>
          </li>
        %% else
          <li>
            <h3>Sched sched sched what where is sched</h3>
          </li>
        %% endfor
      </ul>
      <br/><br/>
    </div> -->

    <!-- <div class="labs">
      <p>{{ _("A term from the Social Innovation space, Design or Change Labs provide an exploratory, experimental, and creative space designed to encourage the co-creation of meaningful and innovative solutions to complex problems.") }}</p>
      <p>{{ _("Developing leaders, investing in entrepreneurs, and forging partnerships are three fundamental approaches to tackling these problems, and EWB has been working with them for twelve years. This experience positions us to host spaces to dive in, explore, and explode our understanding of each approach -- and their points of intersection -- which we believe is best achieved through this style of session.") }}</p>
      <div class="leader">
        <h3>{{ _("Leadership Labs") }}</h3>
        <p>{{ _("How do you develop yourself and others with the understanding and skills needed to tackle complex global problems?") }}</p>
      </div>
      <div class="partner">
        <h3>{{ _("Entrepreneurship Labs") }}</h3>
        <p>{{ _("What spaces, resources, and understandings are required for entrepreneurs to thrive as agents of global change?") }}</p>
      </div>
      <div class="entrepreneur">
        <h3>{{ _("Partnership Labs") }}</h3>
        <p>{{ _("What do we need to know about partnerships to truly harness the value of coalition and collaboration for global development?") }}</p>
      </div>

    </div> -->

    <div id="signup" class="clearfix">
      <a href="{{ url_for('register') }}" class="button">{{ _("Join Us") }}</a>
      <a href="{{ url_for('about') }}" class="button">{{ _("Find out More") }}</a>
    </div>

    <div class="sponsors">
      <h1>{{ _('<b class="rethink">RETHINK 2014</b> is made possible by the generosity of:') }}</h1>
      <ul class="fulljust">
        <li class='hatch ir'>{{ _('Hatch Ltd') }}</li>
        <li class='transcanada ir'>{{ _('TransCanada Corporation') }}</li>
      </ul>
      <p>{{ _('Engineers Without Borders is looking for more partners.') }} <a href="{{ url_for('sponsors', lang=lang) }}">{{ _('Interested?') }}</a></p>
    </div>

  </main>

%% endblock