%% extends "base.html"

%% block main

<main>
  <p>Engineers Without Borders presents the ___th annual National Conference</p>
  <p>When? (date)</p>
  <p>Where? (event location + hotel location)</p>
  <p>How much? (price)</p>
  <p>Not bad, why don't you <a href="{{ url_for('register', lang=lang) }}">{{ _('buy a ticket?') }}</a>
</p>
  <p>Other information (transportation, dress code, etc.)</p>
  <p>Refer them to the <a href="{{ url_for('agenda', lang=lang) }}">{{ _('schedule / agenda') }}</a> for more info on logistics</p>
  <p>embedded, themed, full-width google map</p>
</main>

%% endblock