%% extends "base.html"

%% block main

<div class="w5">
  <h2>{{ _('When?') }}</h2>
  <p>{{ _('<strong>Friday, January 10th</strong> to <strong>Sunday, January 12th, 2014</strong>.') }}</p>
  <h2>{{ _('Where?') }}</h2>
  <div class="col2">
    <h3>{{ _('Venue') }}</h3>
    <a href="#map-canvas" class="centre">{{ _('Toronto Congress Centre North Building') }}</a>
    <h3>{{ _('Accommodations') }}</h3>
    <a href="#map-canvas" class="hotel">{{ _('The Travelodge Hotel') }}</a>
  </div>
  <div id="map-canvas"></div>
  <div><!-- class="col2">-->
    <p>{{ _('A room block is reserved for conference delegates, and can be purchased at the time of registration. A <strong>free shuttle</strong> will run between this hotel and the venue through the day -- and it’s approximately a <strong>five minute</strong> ride.') }}</p>
    <p>{{ _('Note that there are <strong>numerous alternative accommodations</strong> available in the immediate area, but that transportation will be the delegate’s responsibility in this case. Delegates staying in downtown Toronto will have access to a shuttle each morning and evening, which can be purchased at a cost-recovery rate at the time of registration.') }}</p>
  </div>
  <div class="food">
    <h2>{{ _('Food') }}</h2>
    <p>{{ _('Registration includes <strong>breakfast, lunch and dinner</strong> for all three days of Rethink, with the exception of dinner on Saturday night. At this time, delegates will be provided with transportation downtown for the opportunity to participate in a variety of events, including networking dinners with some special guests.') }}</p>
    <p>{{ _('We are proud to be serving <strong>locally-sourced</strong> and <strong>fair trade</strong> products where available throughout the event.') }}</p>
  </div>

  <div class="get-there routes">
    <h2>{{ _('Transportation at Conference') }}</h2>

    <h3>Lunch Shuttle Service</h3>
    <p>Runs daily between the Travelodge Hotel and the Toronto Congress Centre, every 30 minutes from 11:00am to 2:00pm</p>

    <h3>{{ _("Friday") }}</h3>
    <table>
      <thead>
        <tr>
          <td>{{ _("From") }}</td>
          <td>{{ _("To") }}</td>
          <td>{{ _("Time") }}</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ _("Travelodge Hotel") }}</td>
          <td>{{ _("Toronto Congress Centre") }}</td>
          <td>{{ _("7:10am")}}</td>
        </tr>
        <tr>
          <td>{{ _("Downtown Toronto") }}</td>
          <td>{{ _("Toronto Congress Centre") }}</td>
          <td>{{ _("7:10am")}}</td>
        </tr>
        <tr>
          <td rowspan="3">{{ _("Toronto Congress Centre") }}</td>
          <td rowspan="3">{{ _("Travelodge Hotel") }}</td>
          <td>{{ _("8:00pm")}}</td>
        </tr>
        <tr>
          <td>{{ _("10:30pm")}}</td>
        </tr>
        <tr>
          <td>{{ _("12:15am")}}</td>
        </tr>
        <tr>
          <td>{{ _("Toronto Congress Centre") }}</td>
          <td>{{ _("Downtown Toronto") }}</td>
          <td>{{ _("12:00am") }}</td>
        </tr>
      </tbody>
    </table>

    <h3>{{ _("Saturday") }}</h3>
    <table>
      <thead>
        <tr>
          <td>{{ _("From") }}</td>
          <td>{{ _("To") }}</td>
          <td>{{ _("Time") }}</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ _("Travelodge Hotel") }}</td>
          <td>{{ _("Toronto Congress Centre") }}</td>
          <td>{{ _("7:10am")}}</td>
        </tr>
        <tr>
          <td>{{ _("Downtown Toronto") }}</td>
          <td>{{ _("Toronto Congress Centre") }}</td>
          <td>{{ _("7:10am")}}</td>
        </tr>
        <tr>
          <td>{{ _("Toronto Congress Centre") }}</td>
          <td>{{ _("Travelodge Hotel") }}</td>
          <td>{{ _("6:15pm")}}</td>
        </tr>
        <tr>
          <td>{{ _("Travelodge Hotel") }}</td>
          <td>{{ _("Downtown Toronto") }}</td>
          <td>{{ _("7:00pm") }}</td>
        </tr>
        <tr>
          <td>{{ _("Toronto Congress Centre") }}</td>
          <td>{{ _("Downtown Toronto") }}</td>
          <td>{{ _("7:00pm") }}</td>
        </tr>
        <tr>
          <td>{{ _("Downtown Toronto") }}</td>
          <td>{{ _("Travelodge Hotel") }}</td>
          <td>{{ _("12:30am") }}</td>
        </tr>
      </tbody>
    </table>

    <h3>{{ _("Sunday") }}</h3>
    <table>
      <thead>
        <tr>
          <td>{{ _("From") }}</td>
          <td>{{ _("To") }}</td>
          <td>{{ _("Time") }}</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ _("Travelodge Hotel") }}</td>
          <td>{{ _("Toronto Congress Centre") }}</td>
          <td>{{ _("7:10am")}}</td>
        </tr>
        <tr>
          <td>{{ _("Downtown Toronto") }}</td>
          <td>{{ _("Toronto Congress Centre") }}</td>
          <td>{{ _("7:10am")}}</td>
        </tr>
        <tr>
          <td>{{ _("Toronto Congress Centre") }}</td>
          <td>{{ _("Travelodge Hotel") }}</td>
          <td>{{ _("5:30pm")}}</td>
        </tr>
        <tr>
          <td>{{ _("Travelodge Hotel") }}</td>
          <td>{{ _("Toronto Congress Centre") }}</td>
          <td>{{ _("7:10pm") }}</td>
        </tr>
        <tr>
          <td>{{ _("Toronto Congress Centre") }}</td>
          <td>{{ _("Travelodge Hotel") }}</td>
          <td>{{ _("12:45am") }}</td>
        </tr>
        <tr>
          <td>{{ _("Toronto Congress Centre") }}</td>
          <td>{{ _("City") }}</td>
          <td>{{ _("12:45am") }}</td>
        </tr>
      </tbody>
    </table>

    <h3>Notes</h3>
    <ul>
      <li>"Downtown Toronto" pick-up and drop-off location: west of University & Adelaide intersection on Adelaide.</li>
      <li>Approximate driving time between the Toronto Congress Centre and the Travelodge Hotel is 5 minutes.</li>
    </ul>

  <div class="get-there">
    <h2>{{ _('How to Get Here') }}</h2>
    <p>{{ _("Rethink 2014 will be held at the Toronto Congress Centre, 650 Dixon Road, Toronto, ON. Delegates will have the option to book accommodations through the registration process for the Travelodge Toronto Airport, 925 Dixon Road, Toronto, ON.") }}</p>

    <h3>{{ _('From Toronto Pearson Airport') }}</h3>
    <p>{{ _("A free shuttle is available from the airport (YYZ) to Travelodge Toronto Airport. Please call the Travelodge at (416) 674-2222 to arrange your seat.") }}</p>

    <h3>{{ _('TTC') }}</h3>
    <p>{{ _("Subway; streetcars; buses. $3, ~1 hour. Take the Northbound Subway from Union (towards Downsview). Exit at Lawrence West Station (after about 20 minutes.) Take bus #58 (you do not need to pay again) and exit at Dixon Road at City View Drive to travel to the Congress Centre (3 minute walk.) Exit at Dixon Road at Carlingview Drive to travel to the Travelodge (1 minute walk.)") }}</p>

    <h3>{{ _('GO Transit') }}</h3>
    <p>{{ _("$5, ~20-30 minutes. Busses and trains run from Union Station to Etobicoke North and Malton Stations - both are a 5 minute cab ride to the venue. Take route 30, 31, 39, or 33 Kitchener (formerly Georgetown.) Information is also available at the <a href=\"http://www.ttc.ca/Trip_planner/\">TTC website</a> and the <a href=\"http://www.gotransit.com/public/en/schedules/google.aspx\">GO transit website</a>") }}</p>
    <p>{{ _("To ge to the Travelodge Hotel from Malton GO station, walk to Airport Road and Derry Road, take the TTC bus 58 eastbound. Get off at Carlingview Road. To go to TCC directly from Malton GO station, get off at Kelfield Street.") }}</p>
    <p>{{ _("To get to the Travelodge Hotel from Etobicoke North Go station, walk to Martin Grove Road, take the TTC bus 45 southbound (take a transfer ticket from the driver) and get off at Dixon Road stop. From there, walk to the north east side of the Dixon road and get on the TTC bus 58 westbound and get off at Carlingview Road. To get to TCC, get off at Kelfield Street once on the 58 bus.") }}</p>

    <h3>{{ _('By Vehicle') }}</h3>
    <p>{{ _("The venue is located at 650 Dixon Road, Toronto in the North Building; the hotel is located at 925 Dixon Road. Parking is free at both locations (at the Travelodge, provided you are registered to stay there.)") }}</p>

    <h3>{{ _('By Taxi') }}</h3>
    <p>{{ _("A taxi estimated from Union Station will take about 25 minutes and will cost roughly $50. You can call Beck (416.751.5555) or Co-Op (416.504.2667).") }}</p>
  </div>

  <p>{{ _('<strong>Please see our <a href="%(reg_link)s">registration page</a> for pricing structure information.</strong>', reg_link=url_for('register')) }}</p>
</div>

%% endblock

%% block tail_scripts
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false{{ '&language=fr' if lang == 'fr' else '' }}"></script>

<script>
  var centre = new google.maps.LatLng(43.691063, -79.578133);
  var hotel = new google.maps.LatLng(43.686472, -79.595680);
  var map, centreMarker, hotelMarker, centreInfoWindow, hotelInfoWindow;
  var MY_MAPTYPE_ID = 'custom_style';

  function initialize() {
    var centreInfo = '<div class="address">'+
        '<a href="#centrejdjdjd">Toronto Congress Centre</a>'+
        '<p>North Building</p>'+
        '<p>650 Dixon Rd</p>'+
        '<p>Toronto, ON M9W 1J1</p>'+
        '</div>';
    var hotelInfo = '<div class="address">'+
      '<a href="#centrejdjdjd">The Travelodge Hotel</a>'+
      '<p>295 Dixon Rd</p>'+
      '<p>Toronto, ON M9W 1J8</p>'+
      '</div>';

    var featureOpts = [
      {
        stylers: [
          { visibility: 'simplified' },
          //{ gamma: .5 },
          //{ saturation: -100 },
          { weight: 0.5 }
        ]
      },
      {
        elementType: 'labels',
        stylers: [
          { visibility: 'yes' }
        ]
      },
      {
        featureType: 'water',
        stylers: [
          { color: '#727273' }
        ]
      }
    ];
    var mapOptions = { zoom: 13, center: centre, disableDefaultUI: true, zoomControl: true, mapTypeId: MY_MAPTYPE_ID};

    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

    var styledMapOptions = {
      name: 'Custom Style'
    };

    var customMapType = new google.maps.StyledMapType(featureOpts, styledMapOptions);

    centreMarker = new google.maps.Marker({
      position: centre,
      map: map,
      animation: google.maps.Animation.DROP,
      title: 'Toronto Congress Centre North Building'
    });

    centreInfoWindow = new google.maps.InfoWindow({
      content: centreInfo
    });
    hotelInfoWindow = new google.maps.InfoWindow({
      content: hotelInfo
    });

    hotelMarker = new google.maps.Marker({
      position: hotel,
      map: map,
      animation: google.maps.Animation.DROP,
      title: 'The Travelodge Hotel'
    });

    google.maps.event.addListener(centreMarker, 'click', function() {
      centreInfoWindow.open(map,centreMarker);
    });
    google.maps.event.addListener(hotelMarker, 'click', function() {
      hotelInfoWindow.open(map,hotelMarker);
    });

    map.mapTypes.set(MY_MAPTYPE_ID, customMapType);
  }

  function markerBounce(marker) {
    marker.setAnimation(google.maps.Animation.BOUNCE);
    setTimeout(function() {
      marker.setAnimation(null);
    }, 2840);
  }

  google.maps.event.addDomListener(window, 'load', initialize);

  $('a.centre').click(function() {
    markerBounce(centreMarker);
    centreInfoWindow.open(map,centreMarker);
  });
  $('a.hotel').click(function() {
    markerBounce(hotelMarker);
    hotelInfoWindow.open(map,hotelMarker);
  });
</script>
%% endblock
