%% extends "base.html"

%% block main

<div class="reglink">
  <p>For pricing information, please see the table below. Otherwise, what are you waiting for?!</p>
  <a href="#" class="button">Register Now</a>
</div>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Early-bird</th>
      <th>Regular</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Public</td>
      <td>$550.00</td>
      <td>$648.00</td>
    </tr>
    <tr>
      <td>Partner Organization</td>
      <td>$475.00</td>
      <td>$559.00</td>
    </tr>
    <tr>
      <td>Government</td>
      <td>$450.00</td>
      <td>$530.00</td>
    </tr>
    <tr>
      <td>Alumni</td>
      <td>$425.00</td>
      <td>$500.00</td>
    </tr>
    <tr>
      <td>Partner Organization (NGO)</td>
      <td>$400.00</td>
      <td>$471.00</td>
    </tr>
    <tr>
      <td>EWB Member</td>
      <td colspan="2">Please contact your local chapter or network for pricing information</td>
    </tr>
  </tbody>
</table>

%% endblock
