%% extends "base.html"

%% block main

<div class="reglink">
  <p>{{ _("For pricing information, please see the table below. Otherwise, what are you waiting for?!") }}</p>
  <a href="https://my2.ewb.ca/conference" class="myewb-register button">{{ _("Register Now") }}</a>
  <p><small>{{ _('Secure registration provided via myewb.ca') }}</small></p>
</div>

<table>
  <thead>
    <tr>
      <th></th>
      <th>{{ _("Early-bird") }}</th>
      <th>{{ _("Regular") }} <small>({{ _("after <del>Nov 20<sup>th</sup></del> extended to Dec 18<sup>th</sup>") }})</small></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ _("Public") }}</td>
      <td>{{ _("$550.00") }}</td>
      <td>{{ _("$650.00") }}</td>
    </tr>
    <tr>
      <td>{{ _("Student and Partner Organization") }}</td>
      <td>{{ _("$475.00") }}</td>
      <td>{{ _("$560.00") }}</td>
    </tr>
    <tr>
      <td>{{ _("Government") }}</td>
      <td>{{ _("$450.00") }}</td>
      <td>{{ _("$530.00") }}</td>
    </tr>
    <tr>
      <td>{{ _("Alumni") }}</td>
      <td>{{ _("$425.00") }}</td>
      <td>{{ _("$500.00") }}</td>
    </tr>
    <tr>
      <td>{{ _("Non-Profit") }}</td>
      <td>{{ _("$400.00") }}</td>
      <td>{{ _("$470.00") }}</td>
    </tr>
    <tr>
      <td>{{ _("EWB Member") }}</td>
      <td colspan="2">{{ _("Please contact your local chapter or network for pricing information") }}</td>
    </tr>
  </tbody>
</table>

<div class="reg-included">
  <h2>{{ _("What's Included?") }}</h2>
  <ul>
    <li>{{ _("3 days of conference") }}</li>
    <li>{{ _("8 meals") }}</li>
    <li>{{ _("Transportation downtown") }}</li>
    <li>{{ _("Transportation to and from the conference hotel") }}</li>
    <li>{{ _("Access to networking and social events") }}</li>
    <li>{{ _("Ticket to Gala") }}</li>
  </ul>
  <p>{{ _("Hotels are extra, and we have an exclusive room rate of $102/night+ taxes for the confernece at the Travelodge Toronto Airport. You will be able to reserve at the hotel through our registration system.") }}</p>
  <p class="shameless boobs">{{ _("For more logistical details, check out") }} <a href="{{ url_for('logistics') }}">{{ _("Logistics") }}</a></p>
</div>

%% endblock
