%% extends "base.html"

%% block main

<div class="agenda">
  <div class="boobs">
    <div class="days">
      <a href="#friday">{{ _('Friday') }}</a>
      <a href="#saturday">{{ _('Saturday') }}</a>
      <a href="#sunday">{{ _('Sunday') }}</a>
    </div>

    <form id="streams">
      <input type="checkbox" name="leadership" id="leadership-filter" class="visuallyhidden" checked="checked">
      <label for="leadership-filter">Leadership</label>
      <input type="checkbox" name="entrepreneurship" id="entrepreneurship-filter" class="visuallyhidden" checked="checked">
      <label for="entrepreneurship-filter">Entrepreneurship</label>
      <input type="checkbox" name="partnership" id="partnership-filter" class="visuallyhidden" checked="checked">
      <label for="partnership-filter">Partnership</label>
    </form>
  </div>

  <h3 id="friday">{{ _('Friday') }}</h3>
  <table>
    <tbody>
      <tr>
        <td colspan="3">{{ _('Opening: Framing the Challenge of Global Development as Interconnected') }}</td>
      </tr>
      <tr>
        <td colspan="3">{{ _('Foundations') }}</td>
      </tr>
      <tr>
        <td>{{ _('Rethink Leadership for Global Development') }}</td>
        <td>{{ _('Rethink Entrepreneurship for Global Development') }}</td>
        <td>{{ _('Rethink Partnership for Global Development') }}</td>
      </tr>
      <tr>
        <td>{{ _('Changing Sectors with Leadership') }}</td>
        <td>{{ _('Changing Sectors with Entrepreneurship') }}</td>
        <td>{{ _('Changing Sectors with Partnership') }}</td>
      </tr>
      <tr>
        <td colspan="3">{{ _('Dialogue') }}</td>
      </tr>
      <tr>
        <td colspan="3">{{ _('EWB AGM') }}</td>
      </tr>
    </tbody>
  </table>

  <h3 id="saturday">{{ _('Saturday') }}</h3>
  <table>
    <tbody>
      <tr>
        <td colspan="3">{{ _('Keynote: Entrepreneurship for Global Development') }}</td>
      </tr>
      <tr>
        <td colspan="3">{{ _('Systemic Change Case Studies') }}</td>
      </tr>
      <tr>
        <td colspan="3">{{ _('Networking [Downtown Toronto]') }}</td>
      </tr>
    </tbody>
  </table>

  <h3 id="sunday">{{ _('Sunday') }}</h3>
  <table>
    <tbody>
      <tr>
        <td colspan="3">{{ _('Keynote: Partnering in Global Development') }}</td>
      </tr>
      <tr>
        <td colspan="3">{{ _("What's Coming?") }}</td>
      </tr>
      <tr>
        <td colspan="3">{{ _('Closing: The Power of People') }}</td>
      </tr>
      <tr>
        <td colspan="3">{{ _('Gala Night') }}</td>
      </tr>
    </tbody>
  </table>

</div>

%% endblock

%% block tail_scripts
<script>
  var $rows = $('tr');
</script>
%% endblock